{% extends "base.html" %}
{% block cookies %}
{% if mode == "success" %}
    trackGAEvent("TD", "installed");
{% endif %}
{% endblock %}
{% block content %}
{% if mode == "success" %}
<div id="downloader-page">
    <section class="downloader-top container_24">
        <div class="grid_12">
            <img src="{{g.static_prefix}}/downloader/downloader-computer.png" width="358" height="295" alt="Torrents Downloader screenshoot" />
        </div>
        <div class="download-box grid_12">
            <h1>Happy downloading!</h1>
            <p>&nbsp;</p>
            <h2>Thanks for installing Torrents Downloader, we hope you enjoy it.</h2>
        </div>
    </section>
</div>
{% elif mode == "download" %}
<div id="downloader-page">
  <section class="downloader-top container_24">
    <div class="grid_12">
        <img src="{{g.static_prefix}}/downloader/downloader-computer.png" width="358" height="295" alt="Torrents Downloader screenshoot" />
    </div>
    <aside class="download-box grid_12">
        <h1>Torrents Downloader</h1>
        <h2>{{_("Find. Download. Play!")}}</h2>
        {% if g.downloader_properties["available"] -%}
            <a href="{{url_for('downloads.download', instfile=g.downloader_properties['filename'])}}" id="downloader_button" class="downloader-download-button">{{_("Download")}}</a>
            <p><strong class="free">{{_("Free")|upper}}</strong> <span>{{_("for Windows")}} | <strong>{{g.downloader_properties["length"]|numbersizeformat}}</strong> (v. {{g.downloader_properties["version_code"].split("-")[0]}})</span></p>
            <p class="soon">{{_("for OSX & Linux: coming soon...")}}</p>
            {% if g.downloader_properties["source_available"] -%}
                <p class="source"><a href="{{url_for('downloads.download', instfile=g.downloader_properties['source_filename'])}}">{{_("Download source")}} · {{g.downloader_properties["source_length"]|numbersizeformat}}</a></p>
            {% endif %}
        {% endif %}
    </aside>
    <p class="legal grid_22 prefix_1 suffix_1">{{_("share_responsibly")}}</p>
  </section>

  <section class="downloader-medium">
    <div class="downloader-main-features container_24">
      <section class="grid_6 suffix_2 downloader-main-feature-1">
        <img src="{{g.static_prefix}}/downloader/feature-main-1-ico.png" class="feat-ico" alt="{{_('Easy to use')}}" />
        <h2>{{_("Easy to use")}}</h2>
        <p>{{_("downloader_easy_desc")}}</p>
      </section>
      <section class="prefix_1 grid_6 suffix_1 downloader-main-feature-2">
        <img src="{{g.static_prefix}}/downloader/feature-main-2-ico.png" class="feat-ico" alt="{{_('Fast finder')}}" />
        <h2>{{_("Fast finder")}}</h2>
        <p>{{_("downloader_fast_desc")}}</p>
      </section>
      <section class="prefix_2 grid_6 downloader-main-feature-3">
        <img src="{{g.static_prefix}}/downloader/feature-main-3-ico.png" class="feat-ico" alt="{{_('Library and Player')}}" />
        <h2>{{_("Library and Player")}}</h2>
        <p>{{_("downloader_library_desc")}}</p>
      </section>
    </div>
  </section>

  <section class="downloader-bottom">
    <section id="find" class="container_24">
        <div class="suffix_1 prefix_2 grid_6">
            <img src="{{g.static_prefix}}/downloader/feature-1-ss.png" class="feat-ss" alt="{{_('Find screenshot')}}" />
        </div>
        <div class="grid_13 suffix_2">
          <h2>{{_("Find")}}</h2><p>{{_("downloader_find_desc_1")}}</p><p>{{_("downloader_find_desc_2")}}</p>
        </div>
    </section>
    <section id="downloads" class="container_24">
        <div class="grid_13 prefix_2">
            <h2>{{_("Download")}}</h2><p>{{_("downloader_download_desc_1")}}</p><p>{{_("downloader_download_desc_2")}}</p>
        </div>
        <div class="prefix_1 grid_6 suffix_2">
            <img src="{{g.static_prefix}}/downloader/feature-2-ss.png" class="feat-ss" alt="{{_('Download screenshot')}}" />
        </div>
    </section>
    <section id="play" class="container_24">
        <div class="suffix_1 grid_6 prefix_2">
            <img src="{{g.static_prefix}}/downloader/feature-3-ss.png" class="feat-ss" alt="{{_('Play screenshot')}}" />
        </div>
        <div class="grid_13 suffix_2">
            <h2>{{_("Play")}}</h2><p>{{_("downloader_play_desc_1")}}</p><p>{{_("downloader_play_desc_2")}}</p><p>{{_("downloader_play_desc_3")}}</p>
        </div>
    </section>
  </section>
</div>
{% endif %}
{% endblock %}

