{% extends "base.html" %}
{% block cookies %}
{% if mode == "success" %}
    _gaq.push(['_trackEvent', "TD", "installed"]);
{% endif %}
{% endblock %}

{% block content %}
{% if mode == "success" %}
<div class="grid_6">&nbsp;</div>
    <div class="grid_18" id="downloader">
    <h1>Happy downloading!</h1>
    <p>Thanks for installing Torrents Downloader, we hope you enjoy it. </p>
</div>
{% elif mode == "download" %}
    <div class="grid_6">&nbsp;</div>
    <div class="grid_18" id="downloader">
        {% if properties["available"] -%}
            <a class="download" id="downloader_button" href="{{url_for('downloads.download', instfile=properties['filename'])}}">
             <span>Download Torrents Downloader</span>
             <span class="info">Windows · {{properties["version_code"].split("-")[0]}} · {{properties["length"]|numbersizeformat}}</span>
            </a>
         {% endif %}
         {% if properties["source_available"] -%}
            <div class="source-panel">
                <a class="source" href="{{url_for('downloads.download', instfile=properties['source_filename'])}}">{{"Download Source"|capitalize}} · {{properties["source_length"]|numbersizeformat}}</a>
            </div>
         {% endif %}

        <h1><b>Torrents Downloader</b> is a fast download client for the <b>Torrent</b> P2P network.</h1>
        <p>Our downloader is user friendly, intuitive, and safe. Now users can pause, resume and find downloads easier than ever before.</p>
        <p>These are the features that Torrents Downloader has to offer:</p>
        <ul>
            <li>Rock solid torrent client.</li>
            <li>Simplified interface.</li>
            <li>DHT, uPnP and uTorrent protocol extensions.</li>
        </ul>
        <h2>Download and share files</h2>
        <p>Now, with <b>Torrents Downloader</b> you can download faster than ever before. Thanks to the torrent network, the fastest P2P solution ever made, your downloads will fly.</p>
        <p>Give it a try! <b>The future of downloading is only one click away.</b></p>
        <h2>Get your files in a safe way</h2>
        <p>We take security very seriously. <b>Torrents Downloader</b> uses the award winning libtorrent library, which will make your download experience a safe and secure one.</p>
        <p>We strongly recommend you use an antivirus, you can download malware from untrusted sources.</p>
    </div>


{% endif %}
{% endblock %}

