{% extends "base.html" %}
{%- block head -%}
        <link rel="canonical" href="{{url_for('downloader.success', _external=True)[:-1]}}" />
{%- endblock -%}
{% block cookies %}
{% if mode == "success" %}
    trackGAEvent("TD", "installed");
{% endif %}
{% endblock %}
{% block content %}
<div id="downloader-page">
    <section class="downloader-top container_24">
        <div class="grid_12">
            <img src="{{g.static_prefix}}/downloader/downloader-computer.png" width="358" height="295" alt="{{_('Torrents Downloader screenshot')}}" />
        </div>
        <div class="download-box grid_12">
            <h1>{{_("Happy downloading!")}}</h1>
            <p>&nbsp;</p>
            <h2>{{_("Thanks for installing Torrents Downloader, we hope you enjoy it.")}}</h2>
        </div>
    </section>
</div>
{% endblock %}
