development*
downloader.*
downloader_*
downloads
backup
production.py
datafixes.py
admin.py
localscss.sh
discover_settings.py
private.py
env/
*.swp
*.py[cod]
datafixes
torrents/static/.webassets-cache*
torrents/static/gen*
runserver
torrents/news
sitemap/output

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
