{% extends "base.html" %}
{% block content %}
<section class="container_24 text_page" id="about">
<h1>About us</h1>


<div class="grid_5 alpha"><a name="company"><img src="{{g.static_prefix}}/ico.company.png"/></a></div>
<div class="grid_18 prefix_1 omega">
    <h2>The Company</h2>
    <img src="{{g.static_prefix}}/torrentsoftware.png" style="display:block;margin:2em auto;" alt="Torrents Software SL" title="Torrents Software SL"/>
    <p>Torrent Software is a start-up company co-founded in 2012 by renowned peer-to-peer technology developer Pablo Soto, along with some of the finest angel investors and technology designers in Madrid, Spain. Built around a culture that encourages making dreams come true through smart thinking, hard work, and Free Culture, Torrent Software is devoted to fulfill the information and entertainment needs for millions of users worldwide.</p>
</div>

<div class="grid_5 alpha clearer"><a name="team"><img src="{{g.static_prefix}}/ico.team.png"/></a></div>
<div class="grid_18 prefix_1 omega">
    <h2>The Team</h2>
    <h3>Madrid</h3>
    <p>The team in Madrid is in charge of Business, Web product, Torrent Content and Applications, while trying to keep an eye on nearby particle collisions.</p>

    <h3>Navarra</h3>
    <p>The team in Navarra designs User Experience and creates a product line that even a Prime Minister would understand.</p>

    <h3>America</h3>
    <p>The team in U.S. and Argentina creates content for the masses and has fun sending work emails at strange hours.</p>
</div>


<div class="grid_5 alpha"><a name="products"><img src="{{g.static_prefix}}/ico.products.png"/></a></div>
<div class="grid_18 prefix_1 omega products">
    <h2>The Products</h2>
    <h3><img src="{{g.static_prefix}}/torrents_small.png" alt="Torrents" title="Torrents"/><img src="{{g.static_prefix}}/dot-com.png" alt=".com" title=".com" height="40"/></h3>
    <p>Entertainment News For Movies, TV Shows, Music, Games, Software, etc.</p>

    <h3><img src="{{g.static_prefix}}/torrents_small.png" alt="Torrents" title="Torrents"/><img src="{{g.static_prefix}}/dot-fm.png" alt=".fm" title=".fm" height="40"/></h3>
    <p>Torrent search engine that offers fast, simple and easy access to every torrent in one place. Torrents.fm is not a torrent tracker, nor a search aggregator; it crawls millions of Internet addresses to automatically generate meaningful links to your queries.</p>

    <h3><img src="{{g.static_prefix}}/torrents_small.png" alt="Torrents" title="Torrents"/><img src="{{g.static_prefix}}/dot-ms.png" alt=".ms" title=".ms" height="40"/></h3>
    <p>Torrents Downloader, a fast, easy to use and powerful client for the Torrent P2P network.</p>
</div>

<div class="grid_5 alpha"><a name="technology"><img src="{{g.static_prefix}}/ico.technology.png"/></a></div>
<div class="grid_18 prefix_1 omega techlist">
    <h2>The Technologies We Use</h2>
    <p>You can download our website's source code <a href="https://github.com/torrents-com">here</a> under <a rel="license" href="http://www.gnu.org/licenses/agpl.html">Affero GPL</a> license. We use these amazing technologies:</p>
    <ul class="grid_18 alpha omega">

        <li class="grid_5 suffix_1 alpha clearer"><a href="http://python.org/"><img src="{{g.static_prefix}}/tech/python.png" alt="Python" title="Python"/></a>Python is a widely used general-purpose, high-level programming language.</li>
        <li class="grid_5 suffix_1"><a href="http://flask.pocoo.org/"><img src="{{g.static_prefix}}/tech/flask.png" alt="Flask" title="Flask"/></a>Flask is a microframework for Python based on Werkzeug, Jinja 2 and it's BSD licensed.</li>
        <li class="grid_5 suffix_1 omega"><a href="http://www.mongodb.org/"><img src="{{g.static_prefix}}/tech/mongodb.png" alt="MongoDB" title="MongoDB"/></a>MongoDB (from "hu<strong>mongo</strong>us") is a scalable, high-performance, open source NoSQL database.</li>

        <li class="grid_5 suffix_1 alpha clearer"><a href="http://foofind.is/"><img src="{{g.static_prefix}}/tech/foofind.png" alt="Foofind" title="Foofind"/></a>Foofind is an open source universal search engine.</li>
        <li class="grid_5 suffix_1"><a href="http://sphinxsearch.com/"><img src="{{g.static_prefix}}/tech/sphinx.png" alt="Sphinx" title="Sphinx"/></a>Sphinx is an open source full text search server.</li>
        <li class="grid_5 suffix_1 omega"><a href="http://jquery.com/"><img src="{{g.static_prefix}}/tech/jquery.png" alt="jQuery" title="jQuery"/></a>jQuery is a fast, small, and feature-rich JavaScript library.</li>

        <li class="grid_5 suffix_1 alpha clearer"><a href="http://modernizr.com/"><img src="{{g.static_prefix}}/tech/modernizr.png" alt="Modernizr" title="Modernizr"/></a>Modernizr is a JavaScript library that detects HTML5 and CSS3 features in the user’s browser.</li>
        <li class="grid_5 suffix_1"><a href="http://wordpress.org/"><img src="{{g.static_prefix}}/tech/wordpress.png" alt="WordPress" title="WordPress"/></a>WordPress is a free and open source blogging tool and a content management system.</li>
        <li class="grid_5 suffix_1 omega"><a href="http://scrapy.org/"><img src="{{g.static_prefix}}/tech/scrapy.png" alt="Scrapy" title="Scrapy"/></a>Scrapy is a fast high-level screen scraping and web crawling framework.</li>

        <li class="grid_5 suffix_1 alpha clearer"><a href="http://getsentry.com/"><img src="{{g.static_prefix}}/tech/sentry.png" alt="Sentry" title="Sentry"/></a>Sentry is a realtime event logging and aggregation platform.</li>
        <li class="grid_5 suffix_1"><a href="http://http://puppetlabs.com/"><img src="{{g.static_prefix}}/tech/puppet.png" alt="Puppet" title="Puppet"/></a>Puppet is an open source configuration management tool.</li>
        <li class="grid_5 suffix_1 omega"><a href="http://zabbix.com/"><img src="{{g.static_prefix}}/tech/zabbix.png" alt="Zabbix" title="Zabbix"/></a>Zabbix is an open source software for monitoring of networks and applications.</li>


        <li class="grid_5 suffix_1 alpha clearer"><a href="http://wxWidgets.org/"><img src="{{g.static_prefix}}/tech/wxwidgets.png" alt="wxWidgets" title="wxWidgets"/></a>wxWidgets is a C++ library that lets developers create multi-platform applications.</li>
        <li class="grid_5 suffix_7 omega"><span id="more_tech">...</span>and many others: <a href="http://bassistance.de/jquery-plugins/jquery-plugin-treeview/">jQuery Treeview</a>, <a href="https://github.com/carhartl/jquery-cookie/">jQuery Cookie</a>, <a href="http://www.jacklmoore.com/colorbox/">jQuery ColorBox</a>, <a href="https://wxproxy.org/">wxPython</a>, <a href="http://www.rasterbar.com/products/libtorrent/">libtorrent</a>.</li>
    </ul>


</div>

</section>
{% endblock %}
