{% extends "base.html" %}
{% block content %}
<section class="container_24 text_page" id="about">
<h1>About us</h1>


<div class="grid_5 alpha"><a name="company"><img src="{{g.static_prefix}}/ico.company.png"/></a></div>
<div class="grid_18 prefix_1 omega">
    <h2>The Company</h2>
    <img src="{{g.static_prefix}}/torrentsoftware.png" style="display:block;margin:2em auto;" alt="Torrents Software SL" title="Torrents Software SL"/>
    <p>Torrent Software is a start-up company co-founded in 2013 by renowned peer-to-peer technology developer Pablo Soto, along with some of the finest angel investors and technology designers in Madrid, Spain. Built around a culture that encourages making dreams come true through smart thinking, hard work, and Free Culture, Torrent Software is devoted to fulfill the information and entertainment needs for millions of users worldwide.</p>
</div>

<div class="grid_5 alpha clearer"><a name="team"><img src="{{g.static_prefix}}/ico.team.png"/></a></div>
<div class="grid_18 prefix_1 omega">
    <h2>The Team</h2>
    <h3>Madrid</h3>
    <p>The team in Madrid is in charge of Business, Web product, Torrent Content and Applications, while trying to keep an eye on nearby particle collisions.</p>
    <ul class="grid_18 alpha omega team">
        <li class="grid_6 alpha"><img src="{{g.static_prefix}}/about/pablo.jpg" alt="Pablo Soto" title="Pablo Soto"/><h4>Pablo Soto</h4><span>CEO</span></li>
        <li class="grid_6"><img src="{{g.static_prefix}}/about/leo.jpg" alt="Leonardo Diez" title="Leonardo Diez"/><h4>Leonardo Diez</h4><span>Web Product</span></li>
        <li class="grid_6 omega"><img src="{{g.static_prefix}}/about/fer.jpg" alt="Fernando Calo" title="Fernando Calo"/><h4>Fernando Calo</h4><span>Torrent Content</span></li>
        <li class="grid_6 alpha"><img src="{{g.static_prefix}}/about/jordi.jpg" alt="Jordi Burguet" title="Jordi Burguet"/><h4>Jordi Burguet</h4><span>Applications</span></li>
        <li class="grid_6"><img src="{{g.static_prefix}}/about/reset.jpg" alt="José Carlos Cuevas" title="José Carlos Cuevas"/><h4>José Carlos Cuevas</h4><span>Infrastructure</span></li>
        <li class="grid_6 omega"><img src="{{g.static_prefix}}/about/unknown.jpg" alt="Pedro Blázquez" title="Pedro Blázquez"/><h4>Pedro Blázquez</h4><span>CFO</span></li>
    </ul>
    <h3>Navarra</h3>
    <p>The team in Navarra designs User Experience and creates a product line that even a Prime Minister would understand.</p>
    <ul class="grid_18 alpha omega team">
        <li class="grid_9 alpha"><img src="{{g.static_prefix}}/about/unknown.jpg" alt="Alberto Riol" title="Alberto Riol"/><h4>Alberto Riol</h4><span>Interaction Design</span></li>
        <li class="grid_9 omega"><img src="{{g.static_prefix}}/about/unknown.jpg" alt="Iñigo Huguet" title="Iñigo Huguet"/><h4>Iñigo Huguet</h4><span>User Experience</span></li>
    </ul>
    <h3>Americas</h3>
    <p>The team in U.S. and Argentina creates content for the masses and has fun sending work emails at strange hours.</p>
    <h3>Our Investors</h3>
    <p>These groups of fine people give meaning to the "angel" part of business angels.</p>
    <ul class="grid_18 alpha omega team">
        <li class="grid_9 alpha"><img src="{{g.static_prefix}}/about/unknown_house.jpg" alt="Axel Serena" title="Alva House"/><h4>Alva House</h4><span>Angel Fund</span></li>
        <li class="grid_9 omega"><img src="{{g.static_prefix}}/about/unknown_house.jpg" alt="Javier Martín" title="Oteban"/><h4>Oteban</h4><span>Angel Fund</span></li>
    </ul>
</div>

</section>
{% endblock %}
