<!DOCTYPE html>
<html lang="en">
    <head>
        {%- block head -%}
        {%- endblock -%}
        {% if not g.override_header %}
            <title>{{ g.title|reverse|join(" | ")}}</title>
            <meta http-equiv="content-language" content="en" />
            {% if g.page_description %}
            <meta name="description" content="{{g.page_description}}" />
            {% endif %}
        {% endif %}
        <meta name="keywords" content="{{(g.keywords|list)[:17]|join(', ')}}" />
        <link rel="search" type="application/opensearchdescription+xml" href="{{ url_for('files.opensearch') }}" title="Torrents" />
        <meta charset="utf-8" />
        <link rel="shortcut icon" href="/favicon.ico" />
        {%- block assets -%}
            {%- assets "css_torrents" -%}
               <link type="text/css" href="{{ASSET_URL.rstrip(' \n.')}}" rel="stylesheet" />
            {%- endassets -%}
            {%- assets "js_torrents" -%}
                <script type="text/javascript" src="{{ ASSET_URL.rstrip(' \n.') }}"></script>
            {%- endassets -%}
        {%- endblock -%}
        <script type="text/javascript">
            var _gaq,_prum,adult_content={{ g.is_adult_content | tojson }};
            function cookiesScripts(){
                _gaq = _gaq || [];_gaq.push(['_setAccount','UA-38333996-1']);_gaq.push(['_setDomainName', '{{ g.domain }}']); _gaq.push(['_setAllowLinker', true]);(function(){var ga=document.createElement('script');ga.type='text/javascript';ga.async=true;ga.src=('https:'==document.location.protocol?'https://ssl':'http://www')+'.google-analytics.com/ga.js';var s=document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();

                {%- if g.blacklisted_content %}
                trackGAEvent("Blacklisted", "{{g.blacklisted_content}}");
                {%- endif %}

                {%- if g.RUM_code %}
                _prum=[['id', '{{g.RUM_code}}'],['mark', 'firstbyte', (new Date()).getTime()]];(function(){var s=document.getElementsByTagName('script')[0],p=document.createElement('script');p.async='async';p.src='//rum-static.pingdom.net/prum.min.js';s.parentNode.insertBefore(p, s);})();
                {%- endif %}

                {% set track_url = (g.domain[g.domain.rfind("."):] if g.domain_conflict else "") + (request.path.rstrip(g.query or "") if g.query or g.domain_conflict else "") + ("_searchs_" if g.query else "") %}

                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga'); ga('create','UA-38333996-3',{'storage':'none','clientId':$.cookiesLaw.cid});

                trackGAPageview({{ track_url|tojson if track_url }});
                {%- block cookies -%}{%- endblock -%}
            }
            function trackGAEvent(){var args_array = Array.prototype.slice.call(arguments,0);trackGA(['_trackEvent'].concat(args_array),['send','event'].concat(args_array));}
            function trackGAPageview(){var args_array = Array.prototype.slice.call(arguments,0);trackGA(['_trackPageview'].concat(args_array),['send','pageview'].concat(args_array));}

        {%- if g.must_accept_cookies %}
            function trackGA(params, new_params){if ($.cookiesLaw.notified) {_gaq.push(params);ga.apply(this,new_params);};}
            $.cookiesLaw.initialize({{g.domain_cookies|tojson}}, cookiesScripts);
        {%- else %}
            function trackGA(params, new_params){_gaq.push(params);ga.apply(this,new_params);}
            cookiesScripts();
        {%- endif %}

            {%-if g.track%}$('<img src="{{url_for("files.pixel")}}"/>');{%-endif%}
        </script>
    </head>
    {% set hidden_category = g.category and not g.category in g.categories[:5] -%}
    {% set hidden_categories_start = 5 if hidden_category else 6 -%}
    <body {{ body_class|safe if body_class }}{%- if g.offer_downloader %}
            data-downloader_href="{{'http://torrents.ms'|forceescape}}"
            data-downloader_title="Hey!<br/>You need a Torrent client to download this file"
            data-downloader_text="Download Torrents Downloader to get this file right now.<br/>Our sofware lets you download torrents faster and more easily than ever - absolutely free! If you already have a Torrent client, click <i>No, thanks</i>."
            data-downloader_yes="<p>Yes, download</p>Torrents Downloader"
            data-downloader_no="<p>No, thanks</p>I already have a torrent client">
            <div id="dialog" data-dialog_ok="OK" data-dialog_no="No" data-dialog_yes="Yes"></div>
        {%- else %}>{%- endif %}
        <header>
            <div id="alerts">
                {%- for aid, alert in g.alert.iteritems() %}
                <div id="alert_{{aid}}" class="{{alert[0]}}">
                    <div class="container_24">
                        <p class="grid_24">{{ alert[1]}}</p>
                    </div>
                </div>
                {%- endfor %}
            </div>
            <div id="header">
                <div class="container_24">
                    <div class="grid_7">
                        <a class="logo" href="/"><img src="{{g.static_prefix}}/torrents.png" alt="Torrents" title="Torrents" height="33" width="220" /><img src="{{g.static_prefix}}/dot-{{g.domain.split('.')[-1]}}.png" alt=".{{g.domain.split('.')[-1]}}" height="50" width="50" /></a>
                    </div>
                    <div id="main-nav" class="grid_17">
                        <a href="{{ url_for('news.home') }}"{{' class=active' if g.section=="news" }}><div class="arrow"></div>News</a>
                        <a href="{{ url_for('web.home') }}"{{' class=active' if g.section=="downloader" }}><div class="arrow"></div>Downloader</a>
                        <a href="{{ url_for('files.home') }}"{{' class=active' if g.section=="torrents" }}><div class="arrow"></div>Torrents</a>
                    </div>
                </div>
                {% if g.section!="downloader" %}
                <div id="search-banner">
                    <div class="container_24">
                        <form method="get" action="{{ url_for('files.search', query='') }}" class="grid_24">
                            <input type="hidden" name="c" value="{{g.category.url if g.category else ""}}" />
                            <div class="grid_18 alpha"><input placeholder="find torrents" type="text" id="q" name="q" autocomplete="off" value="{{g.query or ''}}"/></div>
                            <div class="grid_6 omega"><button type="submit">Search files&nbsp;&nbsp;&nbsp;<span class="icon-search"></span></button></div>
                        </form>
                        <ul class="grid_24">
                            <li class="{{'active ' if not g.category and g.section=='torrents'}}{{'searchable' if g.section=='torrents' and ((g.categories_results and g.categories_results[0]) or (not g.category and not g.query))}}"><a href="{{ url_for('files.search', query=g.clean_query ) if g.category and g.categories_results and g.clean_query else url_for('files.home')}}">{{ "<div class='arrow'></div>"|safe if not g.category or g.categories_results }}all torrents</a></li>
                            {% for category in g.categories %}
                            <li class="{{'active ' if g.category==category and g.section=='torrents' }}{{'searchable' if (g.categories_results and category.cat_id in g.categories_results) or (g.category==category and not g.query)}}"><a href="{{ url_for('files.browse_category', category=category.url) if g.category == category or not g.categories_results or not category.cat_id in g.categories_results else url_for('files.category', category=category.url, query=g.clean_query)}}">{{ "<div class='arrow'></div>"|safe if g.category == category or (g.categories_results and category.cat_id in g.categories_results)}}{{category.title|lower}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {%- endif %}
            </div>
        </header>
        {%- block content %}{%- endblock %}
        <footer>
            <div id="footer-top" class="container_24">
                <div class="grid_6">
                    <a href="/"><img src="{{g.static_prefix}}/logo.torrents-220-khaki.png" alt="Torrents" title="Torrents"/></a>
                </div>
                <div class="grid_5 prefix_2">
                    <a href="{{ url_for('news.home') }}"><img src="{{g.static_prefix}}/dot-com.png" alt=".com"/></a>
                </div>
                <div class="grid_5">
                    <a href="{{ url_for('web.home') }}"><img src="{{g.static_prefix}}/dot-ms.png" alt=".ms"/></a>
                </div>
                <div class="grid_5">
                    <a href="{{ url_for('files.home') }}"><img src="{{g.static_prefix}}/dot-fm.png" alt=".fm"/></a>
                </div>
                <div class="networks grid_1">
                    <ul>
                        <li><a href="{{ url_for('news.rss') }}"><img src="{{g.static_prefix}}/ico.rss-30-self.png" alt="Follow us via RSS"/></a></li>
                    </ul>
                </div>
            </div>
            <div id="footer-bottom" class="container_24">
                <div class="grid_8">
                    <ul class="common_links">
                        <li><a href="{{ url_for('news.about') }}">About us</a></li><li><a href="{{ url_for('news.products') }}">Our products</a></li><li><a href="{{ url_for('news.contact') }}">Contact us</a></li><li><a href="{{ url_for('news.legal') }}">Terms &amp; Privacy</a></li><li><a href="{{ url_for('files.copyright') }}">Copyright &amp; DMCA</a></li>
                    </ul>
                    <p><img src="{{g.static_prefix}}/some_rights_reserved.gif" alt="Some rights reserved." title="Some rights reserved."/><script type="text/javascript" src="https://seal.verisign.com/getseal?host_name={{g.domain}}&amp;size=XS&amp;use_flash=NO&amp;use_transparent=NO&amp;lang=en"></script></p>
                    <p>Torrent Software, S.L. Some rights reserved.</p>
                    <p>Website under Creative Commons <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/es/deed.en">BY-SA</a> license.</p><p><a href="https://github.com/torrents-com">Source code</a> under <a rel="license" href="http://www.gnu.org/licenses/agpl.html">Affero GPL</a> license.</p>

                </div>
                <ul class="grid_16">
                    <li class="grid_5 alpha">
                        <ul>
                            <li><a href="{{ url_for('news.home') }}">News</a>
                                <ul class="bulleted">
                                    <li><a href="{{ url_for('news.home', path='category/news') }}">General</a></li>
                                    <li><a href="{{ url_for('news.home', path='category/mobile') }}">Mobile</a></li>
                                    <li><a href="{{ url_for('news.home', path='category/movies') }}">Movies</a></li>
                                    <li><a href="{{ url_for('news.home', path='category/music') }}">Music</a></li>
                                    <li><a href="{{ url_for('news.home', path='category/software') }}">Software</a></li>
                                    <li><a href="{{ url_for('news.home', path='category/tv') }}">TV</a></li>
                                    <li><a href="{{ url_for('news.home', path='category/technology') }}">Technology</a></li>
                                </ul>
                            </li>
                            <li><a href="{{ url_for('news.user_sitemap') }}">Sitemap</a></li>
                        </ul>
                    </li>
                    <li class="grid_5">
                        <ul>
                            <li><a href="{{ url_for('web.home') }}">Torrents Downloader</a>
                                <ul class="bulleted">
                                    {% if g.downloader_properties["available"] -%}
                                    <li><a href="{{url_for('downloads.download', instfile=g.downloader_properties['filename'])}}">Windows binaries</a></li>
                                        {% if g.downloader_properties["source_available"] -%}
                                    <li><a href="{{url_for('downloads.download', instfile=g.downloader_properties['source_filename'])}}">Source code</a></li>
                                        {% endif %}
                                    {% endif %}
                                </ul>
                            </li>
                            <li><a href="{{ url_for('web.user_sitemap') }}">Sitemap</a></li>
                        </ul>
                    </li>
                    <li class="grid_5 omega">
                        <ul>
                            <li><a href="{{ url_for('files.home') }}">Torrents</a>
                                <ul class="bulleted">
                                    <li><a href="{{ url_for('files.popular_torrents', interval='week') }}">Most popular</a></li>
                                    {% for category in g.categories[:5] %}
                                    <li><a href="{{ url_for('files.browse_category', category=category.url) }}">{{category.title|capitalize }}</a></li>
                                    {% endfor %}
                                    <li><a href="{{ url_for('files.home') }}">Other</a></li>
                                </ul>
                            </li>
                            <li><a href="{{ url_for('files.popular_searches', interval='week') }}">Top searches</a></li>
                            <li><a href="{{ url_for('files.user_sitemap') }}">Sitemap</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </footer>
    </body>
</html>
