<!DOCTYPE html>
<html lang="{{g.lang}}">
    <head>
        {%- block head -%}
        {%- endblock -%}
        {% if not g.override_header %}
            <title>{{ g.title|reverse|join(" | ")}}</title>
            <meta http-equiv="content-language" content="{{g.lang}}" />
            {% if g.page_description %}
            <meta name="description" content="{{g.page_description}}" />
            {% endif %}
        {% endif %}
        <meta name="keywords" content="{{(g.keywords|list)[:17]|join(', ')}}" />
        <link rel="search" type="application/opensearchdescription+xml" href="{{ url_for('files.opensearch') }}" title="Torrents" />
        {%-if g.domain in g.translate_domains %}
            {%- for lang in g.langs %}
                <link rel="alternate" hreflang="{{lang}}" href="{{url_for('.', _lang=lang, _external=True)}}" />
            {%- endfor %}
        {%-endif%}
        <meta charset="utf-8" />

        <link rel="shortcut icon" href="/favicon.ico" />
        {%- block assets -%}
            {%- assets "css_torrents" -%}
               <link type="text/css" href="{{ASSET_URL.rstrip(' \n.')}}" rel="stylesheet" />
            {%- endassets -%}
            {%- assets "js_torrents" -%}
                <script type="text/javascript" src="{{ ASSET_URL.rstrip(' \n.') }}"></script>
            {%- endassets -%}
        {%- endblock -%}
        <script type="text/javascript">
            var _gaq,_prum,adult_content={{ g.is_adult_content | tojson }};
            function cookiesScripts(){
                _gaq = _gaq || [];_gaq.push(['_setAccount','UA-38333996-1']);_gaq.push(['_setDomainName', '{{ g.domain }}']); _gaq.push(['_setAllowLinker', true]);(function(){var ga=document.createElement('script');ga.type='text/javascript';ga.async=true;ga.src=('https:'==document.location.protocol?'https://ssl':'http://www')+'.google-analytics.com/ga.js';var s=document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();
                {%- set track_url = (g.domain[g.domain.rfind("."):] if g.domain_conflict else "") + ("/"+(g.category.url or "search")+"/_searchs_" if g.query else request.path) %}
                {%- if g.query %}
                    _gaq.push(["_set", "title", "_searchs_{{" "+g.category.title|singular|lower if g.category}} torrents"]);
                {%- endif %}
                trackGAPageview({{ track_url|tojson if track_url }});
                {%- if g.blacklisted_content %}
                trackGAEvent("Blacklisted", "{{g.blacklisted_content}}");
                {%- endif %}
                {%- if g.RUM_code %}
                _prum=[['id', '{{g.RUM_code}}'],['mark', 'firstbyte', (new Date()).getTime()]];(function(){var s=document.getElementsByTagName('script')[0],p=document.createElement('script');p.async='async';p.src='//rum-static.pingdom.net/prum.min.js';s.parentNode.insertBefore(p, s);})();
                {%- endif %}
                {%- block cookies -%}{%- endblock -%}
            }
            function trackGAEvent(){var args_array = Array.prototype.slice.call(arguments,0);trackGA(['_trackEvent'].concat(args_array),['send','event'].concat(args_array));}
            function trackGAPageview(){var args_array = Array.prototype.slice.call(arguments,0);trackGA(['_trackPageview'].concat(args_array),['send','pageview'].concat(args_array));}

        {%- if g.must_accept_cookies %}
            function trackGA(params, new_params){if ($.cookiesLaw.notified) {_gaq.push(params);};}
            $.cookiesLaw.initialize({{g.domain_cookies|tojson}}, cookiesScripts);
        {%- else %}
            function trackGA(params, new_params){_gaq.push(params);}
            cookiesScripts();
        {%- endif %}

            {%-if g.track%}$('<img src="{{url_for("files.pixel")}}"/>');{%-endif%}
        </script>
    </head>
    <body {{ body_class|safe if body_class }}{%- if g.offer_downloader %}
            data-downloader_href="{{ url_for('web.home') }}"
            data-downloader_title="{{_('offer_downloader_title')}}"
            data-downloader_text="{{_('offer_downloader_text')}}"
            data-downloader_yes="{{_('offer_downloader_yes')}}"
            data-downloader_no="{{_('offer_downloader_no')}}"
        {%- endif %}
        {%- if g.is_adult_content %}
            data-adult_confirm_title="{{_('Adult content confirmation')}}"
            data-adult_confirm_desc="{{_('You should be 18 or older to see this content.')}}"
            data-adult_confirm_yes="{{_('Yes, I am')}}"
            data-adult_confirm_no="{{_('No, I\'m not')}}"
        {%- endif %}
            data-no_trailer="{{_('No trailer available')}}"
            data-message_sent="{{_('The message has been sent successfully.')}}"
            data-write_something="{{_('Write something!')}}"
            data-error_vote="{{_('There was an error registering your vote. Please, try again.')}}"
            data-flagged_title="{{_('Flagged content')}}"
            data-flagged_desc="{{_('This content has been flagged as $FLAG$. Do you want to download it anyway?')}}"
            data-no_thanks="{{_('No, thanks')}}">
        {%- if g.offer_downloader %}
            <div id="dialog" data-dialog_ok="OK" data-dialog_no="No" data-dialog_yes="Yes"></div>
        {%- endif %}
        <div id="topbanner">{{ g.banners["topbanner"]|safe }}</div>
        <header>
            <div id="alerts">
                {%- for aid, alert in g.alert.iteritems() %}
                <div id="alert_{{aid}}" class="{{alert[0]}}">
                    <div class="container_24">
                        <p class="grid_24">{{ alert[1]}}</p>
                    </div>
                </div>
                {%- endfor %}
            </div>
            <div id="header">
                <div class="container_24">
                    <div class="grid_7">
                        <a class="logo" href="/"><img src="{{g.static_prefix}}/torrents.png" alt="Torrents" title="Torrents" height="33" width="220" /><img src="{{g.static_prefix}}/dot-{{g.domain.split('.')[-1]}}.png" alt=".{{g.domain.split('.')[-1]}}" height="50" width="50" /></a>
                    </div>
                    <div id="main-nav" class="grid_17">
                        <a href="{{ url_for('news.home') }}"{{' class=active' if g.section=="news" }}><div class="arrow"></div>{{_("News")}}</a>
                        <a href="{{ url_for('web.home') }}"{{' class=active' if g.section=="downloader" }}><div class="arrow"></div>Downloader</a>
                        <a href="{{ url_for('files.home') }}"{{' class=active' if g.section=="torrents" }}><div class="arrow"></div>Torrents</a>
                    </div>
                </div>
                {% if g.section!="downloader" %}
                <div id="search-banner">
                    <div class="container_24">
                        <form method="get" action="{{ url_for('files.search', query='') }}" class="grid_24">
                            <input type="hidden" name="c" value="{{g.category.url if g.category else ""}}" />
                            <div class="grid_18 alpha"><input placeholder="{{_('find torrents')}}" type="text" id="q" name="q" autocomplete="off" value="{{g.query or ''}}"/></div>
                            <div class="grid_6 omega"><button type="submit">{{_("Search files")}}&nbsp;&nbsp;&nbsp;<span class="icon search"></span></button></div>
                        </form>
                        <ul class="grid_24">
                            <li class="{{'active ' if not g.category and g.section=='torrents'}}{{'searchable' if g.section=='torrents' and ((g.categories_results and g.categories_results[0]) or (not g.category and not g.query))}}"><a href="{{ url_for('files.search', query=g.clean_query ) if g.category and g.categories_results and g.clean_query else url_for('files.home')}}">{{ "<div class='arrow'></div>"|safe if not g.category or g.categories_results}}{{_("All torrents")|lower}}</a></li>
                            {% for category in g.categories %}
                            <li class="{{'active ' if g.category==category and g.section=='torrents' }}{{'searchable' if (g.categories_results and category.cat_id in g.categories_results) or (g.category==category and not g.query)}}"><a href="{{ url_for('files.browse_category', category=category.url) if g.category == category or not g.categories_results or not category.cat_id in g.categories_results else url_for('files.category', category=category.url, query=g.clean_query)}}">{{ "<div class='arrow'></div>"|safe if g.category == category or (g.categories_results and category.cat_id in g.categories_results)}}{{_(category.title)|lower}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {%- endif %}
            </div>
        </header>
        {%- block content %}{%- endblock %}
        <footer>
            <div id="footer-top" class="container_24">
                <div class="grid_6">
                    <a href="/"><img src="{{g.static_prefix}}/logo.torrents-220-khaki.png" alt="Torrents" title="Torrents"/></a>
                </div>
                <div class="grid_5 prefix_2">
                    <a href="{{ url_for('news.home') }}"><img src="{{g.static_prefix}}/dot-com.png" alt=".com"/></a>
                </div>
                <div class="grid_5">
                    <a href="{{ url_for('web.home') }}"><img src="{{g.static_prefix}}/dot-ms.png" alt=".ms"/></a>
                </div>
                <div class="grid_5">
                    <a href="{{ url_for('files.home') }}"><img src="{{g.static_prefix}}/dot-fm.png" alt=".fm"/></a>
                </div>
                <div class="networks grid_1">
                    <ul>
                        <li><a href="{{ url_for('news.rss') }}"><img src="{{g.static_prefix}}/ico.rss-30-self.png" alt="{{_('Follow us via RSS')}}"/></a></li>
                    </ul>
                </div>
            </div>
            <div id="footer-bottom" class="container_24">
                <div class="grid_8">
                    <ul class="common_links">
                        <li><a href="{{ url_for('news.about') }}">{{_("About us")}}</a></li><li><a href="{{ url_for('news.products') }}">{{_("Our products")}}</a></li><li><a href="{{ url_for('news.contact') }}">{{_("Contact us")}}</a></li><li><a href="{{ url_for('news.legal') }}">{{_("Terms &amp; Privacy")}}</a></li><li><a href="{{ url_for('files.copyright') }}">{{_("Copyright &amp; DMCA")}}</a></li>
                    </ul>
                    <p><img src="{{g.static_prefix}}/some_rights_reserved.gif" alt="{{_('Some rights reserved.')}}" title="{{_('Some rights reserved.')}}"/><script type="text/javascript" src="https://seal.verisign.com/getseal?host_name={{g.domain}}&amp;size=XS&amp;use_flash=NO&amp;use_transparent=NO&amp;lang=en"></script></p>
                    <p>Torrent Software, S.L. {{_("Some rights reserved.")}}</p>
                    <p>{{_("site_license", license='<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/es/deed.en">BY-SA</a>'|safe)}}</p><p>{{_("site_source", source_link='<a href="https://github.com/torrents-com">'|safe+_("Source code")+'</a>'|safe, source_license='<a rel="license" href="http://www.gnu.org/licenses/agpl.html">Affero GPL</a>'|safe)}}</p>

                </div>
                <ul class="grid_16">
                    <li class="grid_5 alpha">
                        <ul>
                            <li><a href="{{ url_for('news.home') }}">{{_("News")}}</a>
                                <ul class="bulleted">
                                    <li><a href="{{ url_for('news.home', path='category/news/') }}">{{_("General")}}</a></li>
                                    <li><a href="{{ url_for('news.home', path='category/mobile/') }}">{{_("Mobile")}}</a></li>
                                    <li><a href="{{ url_for('news.home', path='category/movies/') }}">{{_("Movies")}}</a></li>
                                    <li><a href="{{ url_for('news.home', path='category/music/') }}">{{_("Music")}}</a></li>
                                    <li><a href="{{ url_for('news.home', path='category/software/') }}">{{_("Software")}}</a></li>
                                    <li><a href="{{ url_for('news.home', path='category/tv/') }}">{{_("TV")}}</a></li>
                                    <li><a href="{{ url_for('news.home', path='category/technology/') }}">{{_("Technology")}}</a></li>
                                </ul>
                            </li>
                            <li><a href="{{ url_for('news.user_sitemap') }}">{{_("Sitemap")}}</a></li>
                        </ul>
                    </li>
                    <li class="grid_5">
                        <ul>
                            <li><a href="{{ url_for('web.home') }}">Torrents Downloader</a>
                                <ul class="bulleted">
                                    {% if g.downloader_properties["available"] -%}
                                    <li><a href="{{url_for('downloads.download', instfile=g.downloader_properties['filename'])}}">{{_("Windows binaries")}}</a></li>
                                        {% if g.downloader_properties["source_available"] -%}
                                    <li><a href="{{url_for('downloads.download', instfile=g.downloader_properties['source_filename'])}}">{{_("Source code")}}</a></li>
                                        {% endif %}
                                    {% endif %}
                                </ul>
                            </li>
                            <li><a href="{{ url_for('web.user_sitemap') }}">{{_("Sitemap")}}</a></li>
                        </ul>
                    </li>
                    <li class="grid_6 omega">
                        <ul>
                            <li><a href="{{ url_for('files.home') }}">Torrents</a>
                                <ul class="bulleted">
                                    <li><a href="{{ url_for('files.popular_torrents', interval='week') }}">{{_("Most popular")}}</a></li>
                                    {% for category in g.categories[:5] %}
                                    <li><a href="{{ url_for('files.browse_category', category=category.url) }}">{{_(category.title)|capitalize }}</a></li>
                                    {% endfor %}
                                    <li><a href="{{ url_for('files.home') }}">{{_("Other")}}</a></li>
                                </ul>
                            </li>
                            <li><a href="{{ url_for('files.popular_searches', interval='week') }}">{{_("Top searches")}}</a></li>
                            <li><a href="{{ url_for('files.user_sitemap') }}">{{_("Sitemap")}}</a></li>
                        </ul>
                    </li>
                    <li class="prefix_1 grid_15 alpha omega alternatives">
                        {%-if g.domain in g.translate_domains %}
                            {%- for lang in g.langs %}
                                {{" - " if not loop.first}}
                                {%-if g.lang==lang %}
                                    <strong>{{g.langs_switch[lang]}}</strong>
                                {%-else%}
                                    <a href="{{url_for('.', _lang=lang)}}">{{g.langs_switch[lang]}}</a>
                                {%-endif%}
                            {%- endfor %}
                        {%-endif%}
                        <br/>
                        {#{%-if g.secure_request %}
                            <a href="{{url_for('.', _secure=False)}}">{{_("Fast version")}}</a> -
                            <strong>{{_("Secure version")}}</strong>
                        {%-else %}
                            <strong>{{_("Fast version")}}</strong> -
                            <a href="{{url_for('.', _secure=True)}}">{{_("Secure version")}}</a>
                        {%-endif%}#}
                    </li>
                </ul>
            </div>
        </footer>
        {{ g.banners["catfish"]|safe }}
    </body>
</html>
