{% extends "base.html" %}
{% from "helpers.html" import small_banner -%}
{% block content %}
<section class="container_24 text_page" id="text_top">
    <h1 class="extra">A free torrent search engine offering fast, simple, and easy access to torrent downloads in one place.</h1>
    <ul id="browse" class="grid_24">{%- for category in g.categories|sort if category.show_in_home%}<li class="title grid_11 suffix_1 big_icon {{category.url}}" {{"style='clear:left'"|safe if loop.index0%2==0}}><span></span><div><h2 class="category"><a href="{{url_for("files.browse_category", category=category.url)}}">{{category.title|singular}} torrents</a></h2><ul><li><a href="{{url_for("files.category", category=category.url)}}">popular</a></li>{%- for subcat in category.subcategories|sort %}<li><a href="{{url_for("files.category", category=category.url, subcategory=subcat)}}">{{subcat}}</a></li>{%- endfor %}</ul></div>{%- endfor %}</ul>
</section>
{{ small_banner() }}
<section class="container_24" id="text_page">
<table class="browse_ranking grid_12">
    {%- for search in pop_searches %}
        <tr class="{{ loop.cycle('odd', 'even') }}"><td class="position grid_2 alpha omega">{{ loop.index }}</td><td class="grid_7 alpha omega"><a href="{{url_for('files.search', query=search[0]|clean_query)}}">{{search[0]}}</a></td><td class="grid_3 alpha omega popularity"><span>{{"%0.2f"|format(search[1]*100)}} %</span></td></tr>
    {%- endfor %}
</table>
</section>
{% endblock %}
