{%-if files %}
<ul id="browse_torrents">
{% for file in files %}
    <li class="grid_8 {{'clearer alpha' if loop.index0%3==0}} {{'omega' if loop.index0%3==2}}">
        <div class="grid_3 alpha omega"><a title="{{file['view']['fn']}}" href='{{ url_for("files.download", file_name=file["view"]["seo-fn"], file_id=file["view"]["url"])}}'>
    {%- if 'images_server' in file['view'] or 'thumbnail' in file['view']%}
        <img src="{{g.images_server}}{{ file['file']['_id'] }}0/110{{'/'+ file['view']['icon'].url if file['view']['icon']}}" alt="Preview {{ file["view"]["nfn"] }}" />
    {%- else %}
        <img src="{{g.static_prefix}}/missing-{{ file['view']['icon'].url}}.jpg" width="110" height="147" alt="No preview" />
    {%- endif%}</a></div>
        <div class="grid_5 omega">
            <div class="icon-stars"><span class="stars-{{file['view']['rating']}}"></span><span class="nostars stars-{{5-file['view']['rating']}}"></span></div>
            <a class="filelink" title="{{file['view']['fn']}}" href='{{ url_for("files.download", file_name=file["view"]["seo-fn"], file_id=file["view"]["url"])}}'>{{ file["view"]["nfn"] }}</a>
            {% if "short_desc" in file['view']['md'] %}
            <p>{{ file['view']['md']['short_desc']|truncate(250) }}</p>
            {% endif %}
        </div>

    </li>
{% endfor %}
</ul>
{%-endif%}
