{% extends "base.html" %}
{% from "helpers.html" import small_banner -%}
{%- block content -%}
<section class="container_24 browse_cat">
<div class="title big_icon {{g.category.url}}">
    <span></span><div><h1 class="main">{{g.category.title|singular}} torrents</h1></div>
</div>
<ul><li class="grid_4"><a href="{{url_for('files.category', category=g.category.url)}}">popular {{g.category.title|lower}}</a></li>{%- for subcat in g.category.subcategories|sort %}<li class="grid_4"><a href="{{url_for('files.category', category=g.category.url, subcategory=subcat)}}">{{subcat}}</a></li>{%- endfor %}</ul>
</section>
{{ small_banner() }}
<section class="container_24" id="text_page">
<h2>Popular {{g.category.title|singular}} searches</h2>
<table class="browse_ranking grid_12">
    {%- for search in pop_searches %}
        <tr class="{{ loop.cycle('odd', 'even') }}"><td class="position grid_2 alpha omega">{{ loop.index }}</td><td class="grid_7 alpha omega"><a href="{{url_for('files.search', query=search[0]|clean_query)}}">{{search[0]}}</a></td><td class="grid_3 alpha omega popularity"><span>{{"%0.2f"|format(search[1]*100)}}%</span></td></tr>
    {%- endfor %}
</table>
</section>
{% endblock %}
