{% extends "base.html" %}
{%- block head -%}
    {%- if g.query and results %}
        <link rel="canonical" href="{{url_for('files.category', category=g.category.url, query=search_info['canonical_query'], _external=True, _secure=False)}}" />
        {%- if search_info["total_found"]<5 %}
        <meta name="robots" content="noindex" />
        {%- endif %}
    {%- endif %}
{%- endblock -%}
{%- block cookies -%}
    {%- if not results %}
        trackGAEvent("No results", {{g.clean_query|tojson|safe}}, {{g.category.title|tojson|safe}});
    {%- endif %}
{%- endblock -%}
{% block content %}
<section id="files_page" class="container_24">
<div class="title big_icon grid_12 {{g.category.url}}">
    <span></span>
    <div>
        <div class="lead" id="query_breadcrumbs"><a href='{{url_for("files.home")}}'>{{_("All")}}</a>&nbsp;&nbsp;<span>&gt;</span>&nbsp;&nbsp;<a href='{{url_for("files.browse_category", category=g.category.url)}}'>{{_(g.category.title)}}</a>&nbsp;&nbsp;<span>&gt;</span>&nbsp;&nbsp;{{g.query}}</div>
        <h1 class="category" id="query_title">{{_("category_search_torrents", query=g.query, category=_(g.category.title|singular)|lower, categorys=_(g.category.title)|lower)|capitalize}}</h1>
    </div>
</div>
<div class="smallbanner grid_12 omega">{{g.banners["smallbanner"]|safe}}</div>
{%- if results %}
    {%- if featured %}
        <div id="featured_col" class="grid_6">
            {{featured|safe}}
        </div>
        <div class="grid_17 prefix_1">
        {%- else %}
        <div class="prefix_7 grid_17">
    {%- endif %}
    {{ results |safe }}
    {%- if search_info["next"] %}
        <a class='more_results' href='?s={{search_info["next"]}}{{'&o='+show_order if show_order}}'>{{_("more_category_torrents", category=g.category.title|singular|lower, categorys=g.category.title|lower)}}</a>
    {%- endif %}
    </div>
{%- else %}
<div class="text_page grid_24">
    <p>{{_("no_results_cat", category=g.category.title|singular, categorys=g.category.title, query=g.query)}}</p>
    <p>{{_("no_results_cat_sorry")}}</p>
</div>
{%- endif %}

</section>
{% endblock %}
