{% extends "base.html" %}
{%- block head -%}
    {%- if g.query and g.query!=search_info["canonical_query"] %}
        <link rel="canonical" href="{{url_for('files.category', category=g.category.url, query=search_info['canonical_query'])}}" />
    {%- endif %}
{%- endblock -%}
{%- block cookies -%}
    {%- if not results %}
        {%- if g.query %}
            trackGAEvent("No results", {{g.clean_query|tojson|safe}}, {{g.category.title|tojson|safe}});
        {%- elif g.subcategory %}
            trackGAEvent("Empty subcategory", {{g.subcategory|tojson|safe}}, {{g.category.title|tojson|safe}});
        {%- endif %}
    {%- endif %}
{%- endblock -%}
{% block content %}
<section id="files_page" class="container_24">
<div class="title big_icon grid_24 {{g.category.url}}">
    <span></span>
    <div>
        <div class="lead"><a href='{{url_for("files.home")}}'>All</a>&nbsp;&nbsp;<span>&gt;</span>&nbsp;&nbsp;<a href='{{url_for("files.browse_category", category=g.category.url)}}'>{{g.category.title}}</a>&nbsp;&nbsp;<span>&gt;</span>&nbsp;&nbsp;{{g.query or g.subcategory or "popular"}}</div>
        <h1 class="category">{{(g.query or g.subcategory or "popular")|capitalize}} {{g.category.title|singular|lower}} torrents</h1>
    </div>
</div>
{%- if results %}
    {%- if featured %}
        <div id="featured_col" class="grid_6">
            {{featured|safe}}
        </div>
        <div class="grid_17 prefix_1">
        {%- else %}
        <div class="prefix_7 grid_17">
    {%- endif %}
    {{ results |safe }}
    {%- if search_info["next"] %}
        <a class='more_results' href='?s={{search_info["next"]}}{{'&o='+show_order if show_order}}'>more {{g.category.title|lower}} torrents...</a>
    {%- endif %}
    </div>
{%- else %}
<div class="text_page">
    <p>No <strong>{{g.category.title|singular}}</strong> torrents found for <strong>{{g.query}}</strong>.</p>
    <p>Sorry, we don't have any result that matches your query in this category. Please, try another search or another category.</p>
</div>
{%- endif %}

</section>
{% endblock %}
