{% extends "base.html" %}
{%- block head -%}
        <link rel="canonical" href="{{url_for('news.contact', _external=True)}}" />
{%- endblock -%}
{% from "helpers.html" import render_field -%}
{% block content %}
<section class="container_24 text_page" id="contact">
    <h1>Contact us</h1>
    <div class="grid_5 alpha"><img src="{{g.static_prefix}}/ico.contact.png"/></div>
    <div class="grid_18 prefix_1 omega">
        <p style="line-height:25px"><img class="error" src="{{g.static_prefix}}/ico.warning.png" alt="Warning"/>Note: If you want to contact us in regard of a copyright claim, you must use <a href="{{url_for('files.copyright')}}">the copyright claim form</a>.</p>
        <form method="post">
            <fieldset>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                {{ render_field(form.email) }}
                {{ render_field(form.message,cols="40", rows="4") }}
                {{ render_field(form.captcha) }}
                {{ render_field(form.accept_tos) }}
                {{ render_field(form.submit) }}
            </fieldset>
        </form>
    </div>
</section>
{% endblock %}
