{% extends "base.html" %}
{% from "helpers.html" import render_field -%}
{% block content %}
<section class="container_24 text_page" id="contact">
    <h1>{{_("Copyright &amp; DMCA")}}</h1>
    <div class="grid_5 alpha"><img src="{{g.static_prefix}}/ico.copyright.png"/></div>
    <div class="grid_18 prefix_1 omega">
        {{_("copyright_text")}}
        {{_("copyright_instructions", static_prefix=g.static_prefix)}}
        <form method="post">
            <fieldset>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                {{ render_field(form.name) }}
                {{ render_field(form.surname) }}
                {{ render_field(form.company) }}
                {{ render_field(form.email) }}
                {{ render_field(form.phonenumber) }}
                {{ render_field(form.linkreported) }}
                {{ render_field(form.urlreported,placeholder="http://%s/"%g.domain) }}
                {{ render_field(form.reason) }}
                {{ render_field(form.message,cols="45", rows="4") }}
                {{ render_field(form.captcha) }}
                {{ render_field(form.accept_tos) }}
                {{ render_field(form.submit) }}
            </fieldset>
        </form>
    </div>
</section>
{% endblock %}
