{% macro render_field(field=none) %}
    {%- if not field %}
        <input type="hidden" name="_csrf_token" id="_csrf_token" value="{{ csrf_token() }}" />
    {%- elif field.type=="BooleanField" %}
        <label class="errors grid_8 prefix_5 alpha clearer">{{ field }}
        {%- if field.name=="accept_tos" -%}
             {{ _("accept_tos", legal=url_for("news.legal")) }}
        {%- else -%}
            {{ field.label.text }}
        {%- endif -%}
        </label>
    {%- elif field.type=="RadioField" %}
        <fieldset>
        {%- for radio in field %}
            <label>{{ radio }}{{ radio.label.text }}</label>
        {%- endfor %}
        </fieldset>
    {%- elif field.type=="SelectField" %}
        {%- for value,option in field.choices %}
            <option label="{{ option }}" value="{{ value }}"{% if field.default==value %}selected="selected"{% endif %}  >{{ option }}</option>
        {%- endfor %}
    {%- else %}
        {%- if field.type!="SubmitField" %}
            <label class="grid_4 suffix_1 alpha clearer" for="{{ field.name }}">{% if field.flags.required %}<span title="{{_('Required field')}}">*</span>{% endif %} {{ _(field.label.text)|safe if field.label.text}}</label>
        {%- endif %}
        <div class="grid_8{{' alpha prefix_5' if field.type=='SubmitField' }}">{{ field(**kwargs)|safe }}{%- if field.type!="FileField" %}<span></span>{%- endif %}</div>
    {%- endif %}
    {%- if field.description %}
        <div class="description">{{ _(field.description) }}</div>
    {%- endif %}
    {%- if field.errors %}
        <div class="grid_5 omega"><ul class="errors">
        {%- for error in field.errors %}
            <li>{{ _(error) }}</li>
        {%- endfor %}
        </ul></div>
    {%- endif %}
{%- endmacro %}

{%- macro flash() %}
    {%- with messages = get_flashed_messages(with_categories=true) %}
        {%- if messages %}
            {%- for category, message in messages %}
            <div class="{{ category }}">{{ _(message) }}</div>
            {%- endfor %}
        {%- endif %}
    {%- endwith %}
{%- endmacro %}

{%- macro small_banner() %}
<section id="carrusel">
    <div class="container_24">
        <div class="grid_13">
            <img src="{{g.static_prefix}}/downloader/feature-logo-120.png" width="120" height="120" alt="Torrents Downloader preview" />
            <span class="tagline">{{_("Find. Download. Play!")}}</span></div>
        <div class="grid_7">
            <h2>{{_("install_downloader")}}</h2>
            <p>{{_("for Windows")}}</p>
        </div>
        <div class="grid_4"><a href="{{ url_for('downloader.home') }}">{{_("Get it Now!")}}</a>
        </div>
    </div>
</section>
{%- endmacro %}

{%- macro browse_pagination(pagination) %}
    {%- if pagination %}
    <nav class="grid_24 navigation">
        <ol>
            <li class="title"></li>
        {%- if "prev" in pagination %}<li>{%- if pagination["prev"] %}<a class="prev" href='?p={{pagination["prev"]+1}}'>&laquo;</a>{%- else %}<a class="prev" href='?p=1'>&laquo;</a>{%- endif %}</li>{%- endif %}
        {%- for page in pagination["show"] %}
            <li>{%- if page == None %}...{%- elif page==pagination["current"] %}<span class="page current">{{page+1}}</span>{%- else %}<a class="page" href='?p={{page+1}}'>{{page+1}}</a>{%- endif %}</li>
        {%- endfor %}
        {%- if "next" in pagination %}<li><a class="next" href='?p={{pagination["next"]+1}}'>&raquo;</a></li>{%- endif %}
        </ol>
    </nav>
    {%- endif %}
{%- endmacro %}
