{% extends "base.html" %}
{% block head %}
{{ head | safe }}
{% endblock %}

{% block content %}
{%- if top_stories or news_top %}
{{ (top_stories or news_top)|safe }}
<section id="carrusel">
    <div class="container_24">
        <div class="grid_3">
            <img src="{{g.static_prefix}}/downloader/feature-logo-120.png" width="120" height="120" alt="Adam" />
        </div>
        <div class="grid_10"><span class="tagline">Find. Download. Play!</span></div>
        <div class="grid_6">
            <h2>INSTALL OUR FREE 'TORRENTS DOWNLOADER'</h2>
            <p>for Windows</p>
        </div>
        <div class="grid_4 prefix_1"><a href="{{ url_for('web.home') }}">Get it Now!</a>
        </div>
    </div>
</section>
{%- endif %}

<div class="container_24" id="news_page">
{{ content | safe }}
{{ sidebar | safe }}
</div>

{% endblock %}
