{% extends "base.html" %}
{% from "helpers.html" import browse_pagination -%}
{%- macro popular_torrents_links() -%}
    {%- for torrents_interval, torrents in links.iteritems() if torrents_interval!=interval %}
        {{- (" "+_("or")+" ") if loop.last}}{{- ", " if not (loop.last or loop.first)}}
        <a href="{{url_for('files.popular_torrents', interval=torrents_interval)}}">{{_(torrents[1])}}</a>
    {%- endfor %}
{%- endmacro %}
{%- block head -%}
        <link rel="canonical" href="{{url_for('files.popular_torrents', interval=interval, _external=True, _secure=False)}}" />
{%- endblock -%}
{% block content %}
<section class="container_24" id="files_page">
<div class="grid_24">
<div class="title">
    <h1 class="lead">{{_("popular_torrents_interval_desc", interval=_(interval_info[1]))}}</h1>
    <h2 class="main">{{_("popular_torrents_interval", interval=_(interval_info[1]))}}</h2>
    <p>{{_("popular_torrents_links", links = popular_torrents_links())}}</p>
</div>
</div>
<div class="grid_24">
{{ results |safe }}
</div>
{{ browse_pagination(pagination) }}
  </section>
{% endblock %}
