{% extends "base.html" %}
{% from "helpers.html" import browse_pagination -%}
{%- block head -%}
        <link rel="canonical" href="{{url_for('files.popular_torrents', interval=interval, _external=True)}}" />
{%- endblock -%}
{% block content %}
<section class="container_24" id="files_page">
<div class="grid_24">
<div class="title">
    <h1 class="lead">{{g.h1}}</h1>
    <h2 class="main">Popular torrents {{interval_info[1]}}</h2>
<p>You can also browse popular torrents
    {%- for torrents_interval, torrents in links.iteritems() if torrents_interval!=interval %}
        {{- " or " if loop.last}}{{- ", " if not (loop.last or loop.first)}}
        <a href="{{url_for('files.popular_torrents', interval=torrents_interval)}}">{{torrents[1]}}</a>
    {%- endfor %}.
</p>
</div>
</div>
<div class="grid_24">
{{ results |safe }}
</div>
{{ browse_pagination(pagination) }}
  </section>
{% endblock %}
