{% extends "base.html" %}
{%- macro trend(val, val2) %}
    {%- if val==None%}<span style="color:gray">new!</span>
    {%- elif val>val2 %}<span style="color:green">&Delta;{{val-val2}}</span>
    {%- elif val==val2 %}<span>=</span>
    {%- else %}<span style="color:red">&nabla;{{val2-val}}</span>
    {%- endif%}
{%- endmacro %}
{% block content %}
<section class="container_24" id="text_page">
    <div class="title grid_24">
        <h1 class="tagline">{{g.h1}}</h1>
        <h2 class="main">Popular searches {{interval_info[1]}}</h2>
        <p>You can also browse favorite torrent searches
            {%- for search_interval, search in links.iteritems() if search_interval!=interval %}
                {{- " or " if loop.last}}{{- ", " if not (loop.last or loop.first)}}
                <a href="{{url_for('files.popular_searches', interval=search_interval)}}">{{search[1]}}</a>
            {%- endfor %}.
        </p>
    </div>
    <table id="ranking" class="grid_24">
        {% set first_width=ranking["final_ranking"][0][1]/830 %}
        {%- for search in ranking["final_ranking"] %}
            <tr><td class="trend grid_2 alpha"><div class="bar" style="width:{{120+(search[1]/first_width)|int}}px"></div>{{trend(search[3], loop.index0)}}</td><td class="position grid_1">{{ loop.index }}</td><td class="grid_19">{{search[0]|clean_query|blacklist_query(search[0])}}</td><td class="grid_2 omega popularity"><span>{{"%0.2f"|format(search[1]*100)}}%</span></td></tr>
        {%- endfor %}
    </table>
</section>
{% endblock %}
