{% extends "base.html" %}
{%- block head -%}
    {%- if results and g.query!=search_info["canonical_query"] %}
        <link rel="canonical" href="{{url_for('files.search', query=search_info['canonical_query'])}}" />
    {%- endif %}
    {%- if not results %}
    <script>
    	_gaq.push(['_trackEvent', "No results", {{g.clean_query|tojson|safe}}]);
    </script>
    {%- endif %}
{%- endblock -%}

{% block content %}
<div class="title">
<span></span><div>
<a href='{{url_for("index.home")}}'>All</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;{{g.query}}
<h1 class="category">{{g.query}} torrents</h1>
</div></div>
{%- if results %}
    {%- if featured %}
    <div class="grid_6">
        {{featured|safe}}
    </div>
    <div class="grid_18">
    {%- else %}
    <div class="prefix_6 grid_18">
    {%- endif %}
    {{ results |safe }}
    {%- if search_info["next"] %}
    <a class="more_results" href="{{url_for('files.search', query=g.query)}}?s={{search_info['next']}}{{'&o='+show_order if show_order}}">more torrents...</a>
    {%- endif %}
    </div>
{%- else %}
    <p>No results found for <strong>{{g.query}}</strong>.</p>
    <p>Sorry, we don't have any result that matches your query. Please, try another search.</p>
{%- endif %}
{% endblock %}
