{% extends "base.html" %}
{%- block head -%}
    {%- if results and g.query!=search_info["canonical_query"] %}
        <link rel="canonical" href="{{url_for('files.search', query=search_info['canonical_query'])}}" />
    {%- endif %}
{%- endblock -%}
{%- block cookies -%}
    {%- if not results %}
    trackGAEvent("No results", {{g.clean_query|tojson|safe}});
    {%- endif %}
{%- endblock -%}

{% block content %}
<section id="files_page" class="container_24">
<div class="title grid_24"><span></span><div>
<a href='{{url_for("files.home")}}'>All</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;{{g.query}}
<h1 class="main with-breadcrumbs">{{g.query}} torrents</h1>
</div>

{%- if not results %}
    <p>No results found for <strong>{{g.query}}</strong>.</p>
    <p>Sorry, we don't have any result that matches your query. Please, try another search.</p>
    </div>
{%- endif %}
</div>
{%- if results %}
    {%- if featured %}
    <div id="featured_col" class="grid_6">
        {{featured|safe}}
    </div>
    <div class="grid_17 prefix_1">
    {%- else %}
    <div class="prefix_7 grid_17">
    {%- endif %}
    {{ results |safe }}
    {%- if search_info["next"] %}
    <a class="more_results" href="{{url_for('files.search', query=g.query)}}?s={{search_info['next']}}{{'&o='+show_order if show_order}}">more torrents...</a>
    {%- endif %}
    </div>
{%- endif %}
</section>
{% endblock %}
