{% extends "base.html" %}
{%- macro trend(val, val2) %}
    {%- if val==None%}<span style="color:gray">new!</span>
    {%- elif val>val2 %}<span style="color:green">&Delta;{{val-val2}}</span>
    {%- elif val==val2 %}<span>=</span>
    {%- else %}<span style="color:red">&nabla;{{val2-val}}</span>
    {%- endif%}
{%- endmacro %}
{% block content %}
<section class="container_24 text_page">
    <div class="title grid_24">
        <h1>{{g.h1}}</h1>
        <h2>Popular searches {{interval_info[1]}}</h2>
    </div>
    <p>You can also browse favorite torrent searches
        {%- for search_interval, search in links.iteritems() if search_interval!=interval %}
            {{- " or " if loop.last}}{{- ", " if not (loop.last or loop.first)}}
            <a href="{{url_for('files.popular_searches', interval=search_interval)}}">{{search[1]}}</a>
        {%- endfor %}.
    </p>
    <div id="ranking" class="grid_24">
        <ol>
        {%- for search in ranking["final_ranking"] %}
            <li>{{trend(search[3], loop.index0)}}<a href="{{url_for('files.search', query=search[0]|clean_query)}}">{{search[0]}}</a><span>{{(search[1]*100)|round(2)}} %</span></li>
        {%- endfor %}
        </ol>
    </div>
</section>
{% endblock %}
