{% extends "base.html" %}
{%- macro trend(val, val2) %}
    {%- if val==None%}<span style="color:gray">new!</span>
    {%- elif val>val2 %}<span style="color:green">&Delta;{{val-val2}}</span>
    {%- elif val==val2 %}<span>=</span>
    {%- else %}<span style="color:red">&nabla;{{val2-val}}</span>
    {%- endif%}
{%- endmacro %}
{%- macro popular_searches_links() -%}
    {%- for search_interval, search in links.iteritems() if search_interval!=interval %}
        {{- (" "+_("or")+" ") if loop.last}}{{- ", " if not (loop.last or loop.first)}}
        <a href="{{url_for('files.popular_searches', interval=search_interval)}}">{{_(search[1])}}</a>
    {%- endfor %}
{%- endmacro %}
{% block content %}
<section class="ranking container_24" id="files_page">
    <div class="title grid_24">
        <h1 class="lead">{{_("popular_searches_desc")}}</h1>
        <h2 class="main">{{_("Popular searches")}} {{_(interval_info[1])}}</h2>
        <p>{{_("popular_searches_links", links = popular_searches_links())}}</p>
    </div>
    <table class="grid_24">
        {% set first_width=ranking["final_ranking"][0][1] %}
        {%- for search in ranking["final_ranking"] %}
            <tr><td class="trend grid_1 alpha"><div class="bar" style="width:{{120+(search[1]/first_width*830)|int}}px"></div>{{trend(search[3], loop.index0)}}</td><td class="position grid_1">{{ loop.index }}</td><td class="grid_20">{{search[0]|clean_query|blacklist_query(search[0])}}</td><td class="grid_2 omega popularity"><span>{{"%0.2f"|format(search[1]/first_width*10)}}</span></td></tr>
        {%- endfor %}
    </table>
</section>
{% endblock %}


