{% extends "base.html" %}
{%- block head -%}
    <link rel="canonical" href="{{url_for('files.category', category=g.category.url, subcategory=g.subcategory , _external=True, _secure=False)}}" />
{%- endblock -%}
{% from "helpers.html" import browse_pagination -%}
{%- block cookies -%}
    {%- if not results %}
        {%- if g.subcategory %}
            trackGAEvent("Empty subcategory", {{g.subcategory|tojson|safe}}, {{g.category.title|tojson|safe}});
        {%- endif %}
    {%- endif %}
{%- endblock -%}
{% block content %}
<section id="files_page" class="container_24">
<div class="title big_icon grid_24 {{g.category.url}}">
    <span></span>
    <div>
        <div class="lead" id="subcat_breadcrumbs"><a href='{{url_for("files.home")}}'>{{_("All")}}</a>&nbsp;&nbsp;<span>&gt;</span>&nbsp;&nbsp;<a href='{{url_for("files.browse_category", category=g.category.url)}}'>{{_(g.category.title)}}</a>&nbsp;&nbsp;<span>&gt;</span>&nbsp;&nbsp;{{g.subcategory or _("Popular")}}</div>
        <h1 class="category" id="subcat_title">{%- if g.subcategory %}
            {{_("category_search_torrents", query=g.subcategory|lower, category=_(g.category.title|singular)|lower, categorys=_(g.category.title)|lower)|capitalize}}
            {%- else %}
            {{_("popular_category_torrents", category=_(g.category.title|singular)|lower, categorys=_(g.category.title)|lower)|capitalize}}
        {%-endif%}</h1>
    </div>
</div>
{%- if results %}
    <div class="grid_24">
    {{ results |safe }}
    </div>
    {{ browse_pagination(pagination) }}
{%- else %}
<div class="text_page">
    <p>{{_("no_results_subcat", category=_(g.category.title|singular)|lower, subcategory=g.subcategory or _("Popular")|lower)}}</p>
    <p>{{_("no_results_subcat_sorry") if g.subcategory else _("no_results_popular_cat_sorry")}}</p>
</div>
{%- endif %}
</section>
{% endblock %}
