/* colores v2 */
$black: #323230;
$darkgray:lighten($black,10%);
$gray:#cecfc7;
$lightgray:#F4F5EF;
$white:#fff;

$red:#B23633;
$lightred:#C9817F;
$verylightred:#fef;

$darkgreen:#dcecc5;
$green:#dcecc5;
$lightgreen:#eef6e1;

$lightgrayfont:#cecfc7;
$grayfont:#7D7E74;
$redfont:#ab2933;
$lightredfont:#E7B8B7;
$greenfont:#869e3b;

$imdb:#f7e67a;
$greenhealth:#4BF22E;
$yellowhealth:#F1F22E;
$redhealth:#F2602E;

@font-face {
    font-family: 'Journal';
    src: url(/static/journal-webfont.eot);
    src: url(/static/journal-webfont.eot?#iefix) format('embedded-opentype'),
         url(/static/journal-webfont.woff) format('woff'),
         url(/static/journal-webfont.ttf) format('truetype'),
         url(/static/journal-webfont.svg#journalregular) format('svg');
    font-weight: normal;
    font-style: normal;
}

@mixin icon{background: url(/static/icons.png?2) top left no-repeat; display:inline-block;*display:inline;zoom:1;}
.icon-all{ @include icon(); background-position: 0 0; width: 18px; height: 16px; }
.icon-anime{ @include icon(); background-position: -19px 0; width: 20px; height: 20px; }
.icon-audio, .icon-music{ @include icon(); background-position: -40px 0; width: 20px; height: 20px; }
.icon-document, .icon-ebook{ @include icon(); background-position: -61px 0; width: 20px; height: 20px; }
.icon-download{ @include icon(); background-position: -82px 0; width: 11px; height: 11px; }
.icon-download_button{ @include icon(); background-position: -94px 0; width: 20px; height: 20px; }
.icon-download_ind{ @include icon(); background-position: -115px 0; width: 11px; height: 11px; }
.icon-download_no{ @include icon(); background-position: -127px 0; width: 11px; height: 11px; }
.icon-error{ @include icon(); background-position: -139px 0; width: 20px; height: 20px; }
.icon-facebook{ @include icon(); background-position: -160px 0; width: 17px; height: 17px; }
.icon-game{ @include icon(); background-position: -178px 0; width: 20px; height: 20px; }
.icon-image{ @include icon(); background-position: -199px 0; width: 20px; height: 20px; }
.icon-magnet{ @include icon(); background-position: -220px 0; width: 11px; height: 11px; }
.icon-magnet_no{ @include icon(); background-position: -232px 0; width: 11px; height: 11px; }
.icon-mobile{ @include icon(); background-position: -244px 0; width: 20px; height: 20px; }
.icon-movie, .icon-video{ @include icon(); background-position: -265px 0; width: 20px; height: 20px; }
.icon-porn{ @include icon(); background-position: -286px 0; width: 20px; height: 20px; }
.icon-search{ @include icon(); background-position: -307px 0; width: 20px; height: 20px; }
.icon-series{ @include icon(); background-position: -328px 0; width: 20px; height: 20px; }
.icon-software{ @include icon(); background-position: -349px 0; width: 20px; height: 20px; }
.icon-trailer{ @include icon(); background-position: -370px 0; width: 26px; height: 20px; }
.icon-twitter{ @include icon(); background-position: -397px 0; width: 17px; height: 17px; }
.icon-unknown{ @include icon(); background-position: -415px 0; width: 16px; height: 16px; }

@mixin button()
{
    display:inline-block;*display:inline;zoom:1;
    text-shadow: 0px 0px 1px white;
    text-transform:uppercase;
    color:white;
    padding:8px 12px 7px 8px;
    border: none;
    background-color:$black;
    text-decoration:none;
    cursor:pointer;
    span {vertical-align:-3px}

    &:focus, &:hover, &:active {
        outline:none;
        background:$darkgray;
    }

    &.disable{
        cursor:default;
        box-shadow:none;
        background:$darkgray;
        &:focus, &:hover, &:active {
            background:$darkgray;
        }
    }
}

@mixin redbutton()
{
    @include button();
    background-color:$red;
    text-shadow: none;
}

*,html{margin:0;padding:0;font-family:'helvetica neue',helvetica,arial,sans-serif;}
html {
    background-color:$lightgray;
}
body {
    color:$black;background:$white;font-size:62.5%;
}

ul{margin:0;list-style:none;}
ol,dl{margin:0;}
li,dt,dd{list-style:none;}
a img{border:none;}
hr{clear:both;width:100%;color:$white;border:none;background:$white;font-size:0.1em;line-height:0.1em;}
abbr{border:0;text-decoration:none;}
h2{font-size:2.5em;margin-bottom:0.7em;text-transform:uppercase;}
h3{font-size:2.4em;line-height:1.3em;font-weight:normal;margin-bottom:0.5em}
h4{font-size:2.4em;margin-bottom:1em;}

input, button {
    font-family: 'Open Sans', Arial, Verdana, sans-serif;
}

a {
    color:$redfont; text-decoration:none;
    &:hover { text-decoration:underline }
    &:hover, &:focus, &:active { color:$red }
}

img {
    border:none;margin-bottom:1em;
    vertical-align: text-bottom;
}

*:focus {
    outline-color: $redfont;
    outline-width: 1px;
    outline-style: dotted;
}

.icon-download_button { vertical-align:-3px }

.big_icon
{
    span:first-child {display:inline-block;*display:inline;zoom:1;background: url(/static/icons_big.png) 0px 0px no-repeat;width:60px;height:60px;vertical-align:middle}
    &.anime { span:first-child {background-position: 0 0}}
    &.books { span:first-child {background-position: -61px 0}}
    &.games { span:first-child {background-position: -122px 0}}
    &.mobile { span:first-child {background-position: -183px 0}}
    &.movies {span:first-child {background-position: -244px 0}}
    &.music { span:first-child {background-position: -305px 0}}
    &.pictures { span:first-child {background-position: -366px 0}}
    &.porn { span:first-child {background-position: -427px 0}}
    &.software { span:first-child {background-position: -488px 0}}
    &.star { span:first-child {background-position: -549px 0}}
    &.tv { span:first-child {background-position: -610px 0}}
    &.unknown {span:first-child {width:0px}}

}


#files_page, #text_page, #news_page {
    margin:6em auto;
    min-height:20em;
}

#text_page {

    h2 { font-size: 1.6em; margin-top:2em; }

    ul, ol {
        padding-left:3em;vertical-align: top;
        li {
            list-style-type:inherit;
        }
    }
    ul > li { list-style-type:circle}
    p, li, label, input, textarea {
        font-size: 1.4em;
    }
    p, li, label, input, textarea, #recaptcha_widget_div {
        margin: 5px 5px 5px 0px;
    }
    label {
        margin:1em 0 0em;
        display:block;
    }
    input[type=text], textarea {
        diplay:inline-block;
        border:1px solid $gray;
        padding: 3px 6px;
        width: 400px;
    }
    img {
        margin:0px;
    }

    input[type=submit] {
        margin-top:2em;
        @include redbutton();
        border-radius:5px;
        padding:8px 30px;
    }

    fieldset {
        border: none;
        span {color:$redfont}
        .errors {
            color:$redfont;display:inline-block;*display:inline;zoom:1
        }
    }
}

img.error {
    vertical-align:middle;
    margin:-1px 5px 0px 0px;
    display:inline-block;*display:inline;zoom:1;
}

#header {
    padding-top:2em;

    .logo {
        display:block;
        width:300px;
        img { vertical-align: top; margin: 0em 0em 1.5em }
    }

    #main-nav {
        text-align:right;
        a {
            font-size:1.8em;
            font-weight:700;
            color:$darkgray;
            text-decoration:none;
            margin:0em 0em 0em 1.5em;
            text-transform:uppercase;
            position:relative;
            .arrow {
                position:absolute;
                top:-1.15em;
                width: 0;
                height: 0;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                border-top: 15px solid $red;
                left: 50%;
                margin-left: -15px;
                display:none;
            }
        }
        a.active {
            color:$redfont;
            .arrow {
                display:block;
            }
        }
    }

    #search-banner {
        box-shadow: 0px 0px 15px $darkgray;
        margin:0px;
        padding:13px 0px;
        background-color:$red;

        #q {
            color: $black;
            border: none;
            border-radius: 5px;
            font-size:2em;
            text-shadow: 0px 0px 1px $gray;
            width:670px;
            padding:7px 16px;
            margin:10px 0px;
            &:focus, &:hover {
                outline:none;
                box-shadow:inset 0px 0px 2px 2px $green;
            }
        }

        button{
            width:230px;
            margin:10px 0px;
            border-radius: 5px;
            @include button();
            font-size: 1.9em;
        }

        ul {
            font-size:1.6em;margin:3px 0px 0px;padding:0px;width:100%;text-shadow: 0px 0px 1px $lightredfont;
            li {
                list-style:none;margin: 0px 0px 0px 2.4em;padding:0px;display:inline;
                a { color:$lightredfont; text-decoration:none;position:relative;
                    .arrow {
                        position:absolute;
                        top:1.9em;
                        width: 0;
                        height: 0;
                        border-left: 15px solid transparent;
                        border-right: 15px solid transparent;
                        border-top: 15px solid $red;
                        left: 50%;
                        margin-left: -15px;
                        display:none;
                    }
                }

                &:first-child {margin-left:5px}
                &.active a, > a:hover { color:white }
                &.active a .arrow { display:block }
            }
        }
    }
}

#alert {
    font-size:1.4em;text-align:center;border-bottom:1px solid $redfont; padding:0.5em 0em;display:none;

    &.error {background:$verylightred;display:block;color:$redfont}
    &.info {background:$lightgreen;display:block;color:$greenfont}
}

.results {
    margin:0px;padding:0px;font-size:1.1em;
    >li {
        display:block;margin:0px;padding:0px;border-bottom:1px $green solid;
        >ul {
            vertical-align:top;margin:0px;padding:0px;
            >li {white-space:nowrap;padding:8px 0px;height:7px;text-align:center;
                display:inline-block;*display:inline;zoom:1;
                span {margin-top: -4px;vertical-align:middle;}
                &:first-child{width:28px}
                &:first-child + li {width:300px;text-align:left;
                    a {color:$grayfont;width:100%;overflow: hidden;text-overflow:ellipsis;font-weight:bold;text-decoration:none;    display:inline-block;*display:inline;zoom:1;
                        strong{color:$black};
                        span{vertical-align:inherit}
                }}
                &:first-child + li + li{width:48px;visibility:hidden;a:first-child{margin-right:4px}}
                &:first-child + li + li + li, &:first-child + li + li + li + li{width:16px}
                &:first-child + li + li + li + li + li{text-align:right;color:$grayfont;width:70px}
                &:first-child + li + li + li + li + li + li{color:$grayfont;width:90px}
                &:first-child + li + li + li + li + li + li + li{width:50px;color:$greenfont;}
                &:first-child + li + li + li + li + li + li + li + li{width:52px;color:$redfont;}
            }
        }
        &:first-child {border-top: 1px $gray solid;padding-top: 2px;border-bottom:1px $gray solid;font-weight:bold;color:$black;
            >ul>li {
                padding:3px 0px 11px;height:6px;
                &:first-child + li + li + li + li + li + li + li a {color:$greenfont;}
                &:first-child + li + li + li + li + li, &:first-child + li + li + li + li + li + li {&,a{color:$black}text-align:center}
            }
            &:hover, &:active, &:focus {background:inherit}
        }
        &.even {background:$lightgreen;>ul>li{padding:8px 0px;}}
        &:hover, &:active, &:focus {background:$darkgreen;>ul>li:first-child + li + li{visibility:visible;}}
    }

}

#featured {
    padding-left:0px; margin-top:-20px;
    .icon-stars {
        margin:10px 0px 10px 5px;height:12px;
        span {background:url(/static/star_small.png) left center repeat-x;height:12px}
        .nostars {background-image:url(/static/star_no_small.png)}
        .stars-1 {width:12px*1}
        .stars-2 {width:12px*2}
        .stars-3 {width:12px*3}
        .stars-4 {width:12px*4}
        .stars-5 {width:12px*5}
    }

    li {
        list-style:none;
        >div:first-child {
            overflow:hidden; margin-top:20px;
            img { min-width:100%; max-width:140%; min-height:113px;max-height:147px}
        }

        >div:first-child + div {
            > .icon-stars{margin-top:25px}
        }

        .filelink {
            color:$black;
            text-decoration:none;
            text-transform:uppercase;
            word-wrap:break-word;
            width:97%;
            font-weight:700;
            display:inline-block;
            font-size:1.4em;
            line-height:1em;
            overflow: hidden;
            max-height: 5em;
            margin-bottom:30px;
            margin-left:5px;
        }

        .download {
            text-align:center;
            @include redbutton();
            display:block;
            font-size:1.1em;
            padding: 0px 3px 0px 0px;
            border-radius: 7px;
            font-weight:700;
            margin-top:-30px;
            margin-left:115px;
            width:100px;

            .icon-download_button { vertical-align:-6px }
        }
    }
}

.icon-stars {
    margin:21px 0px 15px;height:19px;
    span {
        background:url(/static/star.png) left center repeat-x;
        height:19px;
        float:left;
    }
    .nostars {
        background-image:url(/static/star_no.png);
        clear:right;
    }
    .stars-0 {width:0px;}
    .stars-1 {width:19px*1;}
    .stars-2 {width:19px*2;}
    .stars-3 {width:19px*3;}
    .stars-4 {width:19px*4;}
    .stars-5 {width:19px*5;}
}

#links {
    margin-top:30px;font-size:1.4em;border-top: 3px $darkgray solid; padding:0px;
    >li {list-style:none; margin:12px 0px;
        a{color:$black;font-weight:bold;text-decoration:none;
            &:hover, &:focus, &:active { color:$redfont }}
    }
}

#popular {
    font-size:1.8em;
    div {
        margin:10px 0px;line-height:0;height:0;border-bottom:1px solid $gray;vertical-align:middle;text-align:center;
        span {
            text-transform:uppercase;
            background-color: $white;
            padding: 0px 10px;
            font-size:13px;
            color:$redfont;
        }
    }
    text-align:center;margin:20px 0px 50px; overflow-x:hidden;
    a {margin:1px 7px;color:$grayfont;text-decoration:none;white-space:nowrap;display:inline-block;*display:inline;zoom:1; &:hover, &:focus, &:active { color:$redfont; outline: none }}
    a.odd {color:$black; &:hover, &:focus, &:active { color:$redfont; outline: none }}
}

#popular.category {
    font-size:1.5em;margin-top:0;
}

#ranking {
    span {
        padding:0.3em 0px;margin:0em 1em; font-size:0.7em; display:inline-block; text-align:center
        &:first-child {width:30px}
    }
}

#download {
    margin-top:6em; margin-bottom:4em;color:$redfont;

    >div:first-child {
        overflow:hidden;
        >img {width:225px;max-height:400px}
    }
    .share_report {
        margin-top:15px;text-align:right;font-size:1.2em;vertical-align:middle
        > span:first-child {
            margin: 10px 10px 0px;
            color: $grayfont;
            a:first-child {margin-left:5px}
            span {vertical-align:middle}
        }
        form {
            display:inline;
            input {
                font-size:1.1em;font-weight:bold;border:none; color:$redfont; background:none; cursor:pointer; margin:2px 9px;
                &:hover, &:focus, &:active { text-decoration:underline;color:$red; outline: none }
            }
        }
    }

    h1 {margin:0em 0em 1em}
    h2 {margin:0.5em 0em}

    .links {
        > div > a {
            text-align:center;
            width:210px;
            margin-top:10px;
            border-radius: 9px;
            @include button();
            font-size: 1.9em;
        }

        > div > a:first-child+a{@include redbutton();}
        > ul {

            li {
                text-align:right;display:block;
                font-size:1.2em;color: $grayfont;
            }
        }

    }

    .health, .date, .size, .imdb {
        font-weight:bold;color:$lightgrayfont;
        display:inline-block;*display:inline;zoom:1;
        font-size: 1.3em;
    }

    .imdb, .size {
        border-radius: 9px;
        padding:5px 20px;
        margin:5px 0px 5px 10px;
        vertical-align: bottom;
    }
     .imdb {
        border: 1px solid darken($imdb, 10%);
        background: $imdb;

        a {color:$black;font-weight:900;text-shadow:0px 0px 1px white}
     }
    .size {
        border: 1px solid $green;
        background-color: $lightgreen;
    }

    .health, .date {
        margin:10px 10px 10px 0px;
        dt {
            font-size: 1em;
        }

        dt, dd {
            margin:3px 0px;
        }
    }

    @mixin innerspan($color,$percent){
        border-color:$color;
        span:first-child {height:100%;background-color: $color; width:20px+120px*$percent}
    }

    .health dd{
        height:14px;padding:0px;width:140px;border-radius:5px;border:1px solid $black;background-color:$lightgray;

        span {text-align:center;display:block}
        span:first-child + span {color:white;text-shadow: 1px 1px 0px $darkgray, -1px 1px 0px $darkgray, 1px -1px 0px $darkgray, -1px -1px 0px $darkgray;margin-top:-15px;letter-spacing:1px}
        &.v0 {@include innerspan($redhealth, 0)}
        &.v1 {@include innerspan(mix($redhealth, $yellowhealth, 25%), 0.1)}
        &.v2 {@include innerspan(mix($redhealth, $yellowhealth, 50%), 0.2)}
        &.v3 {@include innerspan(mix($redhealth, $yellowhealth, 75%), 0.3)}
        &.v4 {@include innerspan($yellowhealth, 0.4)}
        &.v5 {@include innerspan(mix($yellowhealth, $greenhealth, 20%), 0.5)}
        &.v6 {@include innerspan(mix($yellowhealth, $greenhealth, 35%), 0.6)}
        &.v7 {@include innerspan(mix($yellowhealth, $greenhealth, 50%), 0.7)}
        &.v8 {@include innerspan(mix($yellowhealth, $greenhealth, 65%), 0.8)}
        &.v9 {@include innerspan(mix($yellowhealth, $greenhealth, 80%), 0.9)}
        &.v10 {@include innerspan($greenhealth, 1)}
    }

    ul {
        padding-left:0px;
        >li {list-style:none;display:inline-block}
    }

    .seeders, .leechers {
        strong {
            font-size: 1.5em;
            display:block;
        }
        width: 50%; margin: 30px 0px 0px; color: $grayfont; text-align:center;
        display:inline-block; *display:inline; zoom:1
    }
    .seeders strong { color:$greenfont }
    .leechers strong { color:$redfont }

}

h1 {text-transform:uppercase;font-size:2.5em;color:$black}
h1.extra{text-transform:none; padding:0em 1em 0em; margin:0em; font-size:1.3em; color:$black; text-align:center}

.title {
    font-weight:bold;margin:0em;text-align: justify; white-space: nowrap; margin-bottom:2em;
    >* {vertical-align:middle}
    span:first-child + div {display:inline-block;*display:inline;zoom:1;white-space:normal;margin-top:1em}
    &.big_icon {
        span:first-child {margin-right:-60px}
        span:first-child + div {padding-left:70px}
    }
    h2 {text-transform:uppercase;font-size:2.5em;margin:0.9em 0 0}
    h2 a {text-decoration:none;color:$black}
}

.ranking.title {
    margin-bottom:5px;
    h2 {margin-bottom:10px}
}

.title h1{text-transform:none; font-size: 2.5em; margin:0}
.title h1.category {text-transform:uppercase;font-size: 2.5em}


#featured_col {clear:left}

#metadata {
    >ul {
        padding-left:0px;
        >li {
            list-style:none;border-bottom:1px $green solid;padding:7px 0px;
            >div:first-child {text-align:right;color:$black;font-weight:700;
                span {color:$grayfont;font-style:italic;}
            }
            >div {
                color:$darkgray;vertical-align:middle;
                a{color:$redfont;&:hover, &:focus, &:active { color:$red; outline: none }}
            }
        }
        >li:first-child {margin-top:-15px;}
        >li.even {background:$lightgreen}
    }
}

#files {
    > .filepaths {
        padding:0px;
        li {padding: 0px; list-style:none;}
        span {
            margin-left:4px;
        }
    }
    > .filepaths.treeview {
        li {padding: 1px 5px 1px 16px}
        a {
            margin-left:2px;
        }
    }
}

#metadata, #long_desc, #related, #files {
    margin-bottom:4em;
}

#download p, #metadata > ul , #files > ul, #long_desc > p {
    font-size:1.3em;
    color:$black;
    text-align: justify;
}

.more_results {
    text-align:right; text-decoration:none;font-size:1.1em;display:block;margin:3px;
}


/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/*
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:$darkgray}
#colorbox{outline:0;padding:8px}
    #cboxWrapper{padding:8px;background-color:white;border-radius:7px}
    #cboxContent{background:url(/static/loading.gif) center center no-repeat;overflow:hidden}
        .cboxIframe{}
        #cboxError{padding:50px; border:1px solid $gray;}
        #cboxLoadedContent{margin-bottom:20px;}
        #cboxTitle{position:absolute; bottom:0px; left:0; text-align:center; width:100%; color:#999;}
        #cboxCurrent{position:absolute; bottom:0px; left:100px; color:#999;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }

        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

        #cboxSlideshow{position:absolute; bottom:0px; right:42px; color:#444;}
        #cboxPrevious{position:absolute; bottom:0px; left:0; color:#444;}
        #cboxNext{position:absolute; bottom:0px; left:63px; color:#444;}
        #cboxClose{position:absolute; font-weight:700; bottom:0; right:0; display:block; color:$redfont;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}

/* dialog */
#dialog{
    position:fixed;
    display:none;
    width:auto;height:auto;
    left:0;top:0;bottom:0;right:0;
    background-color:rgba(50,50,50,0.5);
    line-height:625px; /* minimun body */
    text-align:center;
    font-size:1.5em;
    color:$darkgray;
    z-index:101;
    &.visible{display:block;}
    p {
        margin:0;
        padding:0;
    }
    .outer{
        border:1px solid rgba(0,0,0,0.5);
        background:white;

        -moz-box-shadow: 0 0 20px rgba(0,0,0,0.5);
        -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.5);
        box-shadow: 0 0 20px rgba(0,0,0,0.5);

        width:500px;
        padding:1px;
        vertical-align:middle;
        display:inline-block;
        line-height:1em;
        border-radius:6px;
        }
    .inner{
        background:$lightgray;
        border-radius:5px;
        text-align:left;
        }
    header{
        border-radius:2px;
        padding:15px;
        color:$black;
        font-weight:bold;
        min-height:28px;
        p:first-child{
            font-size:1.3em;
            line-height:1.1em;
            }
        }
    section{
        padding:25px 60px 20px;
        line-height:1.2em;
        p{
            padding:10px 0;
            }

        }
    footer{
        text-align:center;
        white-space:nowrap;
        padding:15px;
        padding-top:10px;
    }
    .button{
        vertical-align:top;
        font-weight:bolder;
        white-space:normal;
        width:47.5%;
        cursor:pointer;
        background:$black;
        padding-left:8px;
        padding-right:8px;
        color:$white;


        border: medium none;
        font-size: 0.7em;
        letter-spacing: 1px;
        padding: 10px 12px 7px 8px;
        border-radius: 9px;

        box-shadow:inset 0px 17px lighten($black, 15%);
        text-decoration:none;
        cursor:pointer;
        span {vertical-align:-7px}

        &:focus, &:hover, &:active {
            outline:none;
            box-shadow:inset 0px 17px $redfont;
            background:darken($redfont, 15%);
        }
    }
    .dialog_ok {

    }
    .dialog_no {
        margin-right:2.5%;

    }
    .dialog_yes {
        margin-left:2.5%;
        background:$red;
        box-shadow:inset 0px 17px lighten($redfont, 15%);
        }
    }

/* dialog downloader */
#dialog.downloader{
    header{
        padding-left:58px;
    }
    .button{
        font-weight:normal;
        font-size:0.6em;
    }
    .button p:first-child{
        font-weight:bolder;
        font-size:1.5em;
    }

}

#downloader h1{font-size: 1em; font-weight: 400;text-transform:none; color:$black;}



/* NEWS ------------------------------------------ */
.widget-title a img {display:none;}
.widget-title a {color:$black;}
.widget_rss_multi_importer_widget .title {
    font-weight: inherit;
    text-align: inherit;
    white-space: inherit;
}

.top-stories{
    margin:6em auto 4em;
    h3 {font-size:1.9em}
}

.categories, .tags{
    display:inline-block;
    li{
        font-size:1.6em;width:auto;display:inline-block;margin-right:0.5em
        a{text-decoration:none;color:$grayfont;
            &:hover {color:$redfont}
        }
    }

}
.categories{margin-bottom:1em;text-transform:uppercase}
.tags{margin-bottom:0.5em;}

.networks{overflow:hidden}
.networks li{float:left;margin-right:0.3em;}
.networks li a{display:block;height:20px;}

#news-list {
    article, nav {
        border-top: 1px solid $gray;
        padding: 4em 0em;
    }
    h2 {
        line-height:inherit;
        & + article {
            padding-top: 0em;
            border-top: none;
        }
    }
    p {
        font-size: 1.4em; display: inline;line-height:1.3em;
        &.date {color: $grayfont}
    }
    .networks {
        li a {height:15px}
        li span {display:none}
        li.gplus a {
            background:url(/static/ico.gplus-15-off.png) 0 0 no-repeat;width:15px;
            &:hover { background:url(/static/ico.gplus-15-on.png) 0 0 no-repeat;width:15px;}
        }
        li.twitter a{
            background:url(/static/ico.twitter-15-off.png) 0 0 no-repeat;width:18px;
            &:hover { background:url(/static/ico.twitter-15-on.png) 0 0 no-repeat;width:18px;}
        }
        li.facebook a{
            background:url(/static/ico.facebook-15-off.png) 0 0 no-repeat;width:15px;
            &:hover { background:url(/static/ico.facebook-15-on.png) 0 0 no-repeat;width:15px;}
        }
    }
}

#news-top{
    margin:6em auto;overflow:hidden;
    section {margin:0em auto 4em}
}

.author-date p{font-size:1.4em;}
.author-date p span.hour{font-size:0.7em;color:$grayfont;}
.single .share .networks li{float:none;margin-bottom:1em;}

.single .category-tags ul{padding-left:3em;display:block}
.single .category-tags ul.categories{background:url(/static/ico.folder-15.png) left 0.3em no-repeat;}
.single .category-tags ul.tags{background:url(/static/ico.tag-15.png) left 0.3em no-repeat;}

.single-post section#content p, .single-post section#content ul li{font-size:1.4em;line-height:1.3em;margin-bottom:1em;}
.single-post section#content p:first-child{font-size:1.8em;font-weight:400;}

#sidebar {
    h3{font-size:1.8em;font-weight:bold;color:$black;text-transform:uppercase}
    a {color:$grayfont}
    li {
        margin-bottom: 4em;
        li, p {
            margin: 0 0 0.5em 0;
            font-size: 1.4em;
        }
    }
}

.post-image{position:relative;overflow:hidden;margin-bottom:1em;max-height:300px}
.post-image img{margin:0 !important;width:680px;height:auto;}
.post-image div.featured-image-caption{width:27em;background:url(/static/bg.image-caption.png) 0 0 repeat-y;padding:0.5em;position:absolute;bottom:0;z-index:2;}
.post-image div.featured-image-caption a{color:#fff;}

.navigation {
    ol{
        padding-bottom:0.1em;overflow:hidden;

        li{
            float:left;margin-right:1em;
            &:first-child{display:none}
            span, a{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;font-size:1.6em;display:inline-block;padding:0.4em 0.8em;width:auto;}
            .title{display:none;}
            a{background:$red;color:#fff; &:hover{text-decoration:none;background-color:$darkgray}}
            span.current{background:$lightgray;color:$black;}
        }
    }
}
.more-link {text-decoration:none}

/* carruseles */
#carrusel {
    padding:1em; background-color:$black; box-shadow: 0px 0px 15px $darkgray;color: #fff;
    .tagline { font-size: 3em; display:block;padding: 0.5em; color: #fff; font-weight:400 }
    p {font-size: 1.3em; text-align:right}
    h2 {font-size:1.7em; margin:0.2em 0em; text-align:right}
    a { @include redbutton(); display:inline-block; margin:1em 0em;padding:0.8em 1.8em;font-size:1.5em;border-radius: 0.5em;}
    img { margin:-2.5em 0}
}

footer{
    background-color:$lightgray;color:$lightgrayfont;padding:3em 0em;

    #footer-top {
        font-size:1.4em;margin-bottom:2em;border-bottom:1px solid $lightgrayfont;
        div:first-child {text-align:right}
        li{margin-right:2em;float:left;margin:1em 2em 0em 0em;}
        .networks li{height:3em;margin:0em 0em 0em 1em;float:right;}
    }
    #footer-bottom {
        a {
            font-size:1.4em;
        }
        p {
            font-size:1.4em;text-align:right;color:$grayfont;font-style:italic;
        }
        > ul {
            > li {
                background:url(/static/ico.arrow-khaki-down.png) 0 1em no-repeat;
                > a {
                    text-decoration:none; margin-left:0.9em; line-height:1em; font-size:2.2em;color:$grayfont;
                    span {font-family:'Journal',Arial,sans-serif;font-size:1.1em;margin-left:0.05em;}
                }
                ul {
                    margin:1em 0em 0em 2em;
                    li {margin-bottom: 0.5em}
                }
            }
        }
    }
}

/* DOWNLOADER ------------------------------------------ */
#downloader-page{text-align:center;}

.downloader-top{margin-top:6em}
  .download-box{
    width:auto;margin:0em;float:right;text-align:center;
    h1 {font-size:4.7em;color:$redfont;text-transform:none;font-weight:100;margin-top:0;}
    h2{text-transform:none;font-weight:100;margin:0 auto 0.5em;text-align:center;color:$black;}
    p{font-size: 1.3em;color:$black;margin-bottom: 0.5em;}
    .free{display:inline-block;padding:2px 5px;margin-right:4px;color:$white;background:$red;}
    .source {
        font-size:1.2em;display:inline-block;padding:3px 7px;
        a{color:$redfont;text-decoration:underline;}
    }
    .soon{font-style:italic;color:$darkgray;font-size:1.2em;}
  }
a.downloader-download-button {display:inline-block;font-size:3em;background:$red;text-transform:uppercase;color:$white;text-decoration: none;margin:0 auto 0.5em;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;padding: 0.5em 1.7em;text-align: center;}
a.downloader-download-button:hover {background:$black;}

.downloader-medium{
    background:$black; margin:7em 0em;box-shadow: 0px 0px 15px $darkgray;padding:3em 0em 1em;color:white;
    h2 {font-size:2em;margin:0em}
    p {font-size:1.6em;margin:1em 0em}
}
.downloader-bottom{
    text-align:justify;
    section {margin:3em auto}
    h2{font-size:1.8em}
    section:first-child+section h2, section:first-child+section+section+section h2, section:first-child+section+section+section+section+section h2{text-align:right}
    p{font-size:1.6em;margin-top:1em}
}
